.puzzle-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  grid-gap: 10px;
}

.quadrant {
  display: flex;
  justify-content: center;
  align-items: center;
}

.empty-cell {
  width: 166px; /* 빈칸 조각의 가로 크기 (500px / 9) */
  height: 166px; /* 빈칸 조각의 세로 크기 (500px / 9) */
  margin: 10px;
  background-color: #ccc;
}

.empty-cells {
  width: 500px; /* 빈칸 조각들을 감싸는 컨테이너의 가로 크기 (55.55px * 3) */
  height: 500px; /* 빈칸 조각들을 감싸는 컨테이너의 세로 크기 (55.55px * 3) */
  display: flex;
  flex-wrap: wrap;
  gap: 10px; /* 빈칸 조각들 사이의 간격 */
}

.empty-row {
  display: flex;
}

.image-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.piece-row {
  display: flex;
  gap: 5px;
}

.piece {
  margin-right: 10px;
}

.original-piece {
  width: 166px;
  height: 166px; 
}

.piece img {
  width: 100%;
  height: auto;
}
