{% extends 'base.html' %}
{% load static %}
{% load humanize %}


{% block head %}
<title>장바구니</title>
{% endblock head %}


{% block content %}
<main class="min-h-screen">
  <div class="sm:hidden h-14 px-2 flex items-center">
    <div class="flex flex-shrink-0 items-center gap-4">
        <img class="h-8 w-auto" src="{% static 'img/logo.svg' %}" alt="Your Company">
        <p class="text-xl h-8 w-auto"><b>그린샵</b></p>
    </div>
  </div>
  <div class="mx-auto max-w-7xl px-2 sm:px-6 lg:px-8">
    <div class="font-bold text-[20px] sm:text-[25px] mt-5 sm:mt-16 mb-8">장바구니</div>
  
    {% comment %} 구매 테이블 {% endcomment %}
  
    {% comment %} 표시항목 {% endcomment %}
    <div class="flex px-3  sm:p-3 sm:py-2 text-[14px] sm:text-white sm:bg-[#1EB564] sm:rounded-lg mb-5 sm:mb-0">
      <div class="sm:w-1/12 text-center flex gap-2">
        <input type="checkbox" id="check-all" class="grow">
        <span class="sm:hidden text-[16px]">전체선택</span>
      </div>
      <div class="hidden sm:block w-1/12 text-center">이미지</div>
      <div class="hidden sm:block w-1/12 grow text-center">상품명</div>
      <div class="hidden sm:block w-1/12 text-center">수량</div>
      <div class="hidden sm:block w-1/12 text-center">금액</div>
      <div class="hidden sm:block w-1/12 text-center">삭제</div>
    </div>
  
    {% comment %} 게시물 {% endcomment %}
  
    <div class="flex flex-col mb-12">
      {% if cart_items %}
      {% for cart_item in cart_items %}

        {% comment %} 웹 버전 {% endcomment %}
        <div class="hidden sm:inline-flex flex items-center bg-white p-3 border-0 border-b-[1px] border-gray-300 hover:bg-gray-100">
          <div class="w-1/12 pl-11" scope="row"><input type="checkbox" id="check-item-1"></div>
          <div class="w-1/12 rounded-md h-24 border overflow-hidden"> 
            <a href="{% url 'sales:detail' cart_item.product.pk %}">
            <img src="{{ cart_item.product.photo.url }}" alt="" class="object-cover w-full h-full">
            </a>
          </div>
          <div class="w-1/12 grow px-10">
            <div class="text-[12px] text-gray-700 border border-[1px] border-gray-400 w-fit rounded-md p-[2px] px-[4px] mb-2 shadow-sm">{{ cart_item.product.category }}</div>
            <h4 class="text-[18px] mb-1">{{ cart_item.product.title }}</h4>
          </div>
          <div class="text-center w-1/12">{{ cart_item.quantity }}</div>
          <div class="w-1/12 text-center flex flex-col items-center gap-2">
            <div>{{ cart_item.total_price|intcomma }}원</div>
          </div>
          <div class="w-1/12 pl-10">
            <a href="#" onclick="deleteCart(event, {{ cart_item.product.pk }})" class="text-red-500 hover:text-red-700">
              {% csrf_token %}
              삭제
            </a>
          </div>
        </div>

        {% comment %} 모바일 버전 {% endcomment %}
        <div class="sm:hidden mb-5 p-3 border rounded-lg">
          <div class="flex items-center gap-4 w-full">
            <div scope="row"><input type="checkbox" id="check-item-1"></div>
            <div class="w-44 rounded-md h-24 border overflow-hidden"> 
              <a href="{% url 'sales:detail' cart_item.product.pk %}">
              <img src="{{ cart_item.product.photo.url }}" alt="" class="object-cover w-full h-full">
              </a>
            </div>

            <div class="w-full">
              <div class="flex justify-between">
                <div class="text-[12px] text-gray-700 border border-[1px] border-gray-400 w-fit rounded-md p-[2px] px-[4px] mb-2 shadow-sm">{{ cart_item.product.category }}</div>
                <a href="#" onclick="deleteCart(event, {{ cart_item.product.pk }})" class="text-red-500 hover:text-red-700">
                  {% csrf_token %}
                  <span class="material-symbols-outlined">close</span>
                </a>
              </div>
              <h4 class="text-[16px] mb-1">{{ cart_item.product.title }}</h4>
              <div class="flex justify-between">
                <div class="text-gray-500">{{ cart_item.quantity }}개</div>
                <div><b>{{ cart_item.total_price|intcomma }}원</b></div>
              </div>
            </div>
          </div>
        </div>
      {% endfor %}
      {% else %}
      <div class="flex items-center justify-center h-80">
        <p>장바구니에 담긴 상품이 없습니다.</p>
      </div>
      {% endif %}
      
      
      {% comment %} 주문창 {% endcomment %}
      <table class="border-t border-b mt-[50px]">
        <tr class="border-b text-center text-[20px]">
          <td>총 주문 상품 : <span class="font-bold">{{ cart_items|length }}개</span></td>
        </tr>
        <tr>
          <td class="flex justify-center">
            <table class="my-3">
              <tr class="text-[25px] text-center">
                <td>{{ cart_total|intcomma }}원</td>
                <td>+</td>
                <td>0원</td>
                <td>=</td>
                <td><b>{{ cart_total|intcomma }}원</b></td>
              </tr>
              <tr class="text-center">
                <td>상품금액</td>
                <td></td>
                <td>배송비</td>
                <td></td>
                <td>총 주문금액</td>
              </tr>
            </table>
          </td>
        </tr>
      </table>
    </div>
  
  
  
    
    <div class="mt-4 mb-8 flex justify-center">
      <div class="button1">
        {% comment %} <button class="bg-[#1EB564] text-white rounded-md px-4 py-2 mx-1" data-bs-toggle="modal" data-bs-target="#buy" ><a href="{% url 'sales:create_order' %}">주문하기</a></button> {% endcomment %}
        {% if cart_items %}
        <button class="bg-[#1EB564] text-white rounded-md px-4 py-2 mx-1" data-bs-toggle="modal" data-bs-target="#buy"><a href="{% url 'sales:create_order' %}">주문하기</a></button>
        {% endif %}
        {% comment %} <a href="{% url 'sales:create_order' %}" class="bg-[#1EB564] text-white rounded-md px-4 py-2 mx-1">주문하러가기</a> {% endcomment %}
  
        {% comment %} <form action="{% url 'sales:create_order' %}" method="POST">
          {% csrf_token %}
          <button type="submit" class="bg-[#1EB564] text-white rounded-md px-4 py-2 mx-1">주문하러가기</button>
        </form> {% endcomment %}
  
        {% comment %} <button class="bg-white border border-[#1EB564] text-[#1EB564] rounded-md px-4 py-2 mx-1" data-bs-toggle="modal" data-bs-target="#buy">선택상품 주문</button> {% endcomment %}
        <button class="bg-white border border-black  rounded-md px-4 py-2 mx-1"><a class="button2-a" href="{% url 'sales:index'%}">쇼핑계속하기</a></button>
      </div>
    </div>
    
  
  </div>
</main>
{% endblock content %}


{% block script %}
<script src="{% static 'js/baseCartDelete.js' %}"></script>
<script>
  // 전체 선택 체크박스 클릭 시 개별 선택 체크박스 모두 체크
  document.getElementById("check-all").addEventListener("click", function() {
    var checkboxes = document.querySelectorAll('input[id^="check-item"]');
    for (var i = 0; i < checkboxes.length; i++) {
      checkboxes[i].checked = this.checked;
    }
  });

  // 개별 선택 체크박스 클릭 시 전체 선택 체크박스 체크 여부 결정
  var checkboxes = document.querySelectorAll('input[id^="check-item"]');
  for (var i = 0; i < checkboxes.length; i++) {
    checkboxes[i].addEventListener("click", function() {
      var allChecked = true;
      for (var j = 0; j < checkboxes.length; j++) {
        if (!checkboxes[j].checked) {
          allChecked = false;
          break;
        }
      }
      document.getElementById("check-all").checked = allChecked;
    });
  }
</script>
{% endblock script %}

