{% extends 'base.html' %}
{% load static %}
<!-- 가격표시 단위-->
{% load humanize %}

{% block head %}
<!-- jQuery -->
<script type="text/javascript" src="https://code.jquery.com/jquery-1.12.4.min.js" ></script>
<!-- iamport.payment.js -->
<script type="text/javascript" src="https://cdn.iamport.kr/js/iamport.payment-1.2.0.js"></script>
<script type="text/javascript" src="https://cdn.iamport.kr/v1/iamport.js"></script>

<script>
    var IMP = window.IMP; 
    IMP.init("imp43825152"); 
  
    var today = new Date();   
    var hours = today.getHours(); // 시
    var minutes = today.getMinutes();  // 분
    var seconds = today.getSeconds();  // 초
    var milliseconds = today.getMilliseconds();
    var makeMerchantUid = hours +  minutes + seconds + milliseconds;
    
    const payInfo = {
        pg: "uplus.tlgdacomxpay",
        pay_method: "card",
        merchant_uid: "order_no_0003", //상점에서 생성한 고유 주문번호
        name: "주문명:결제테스트",
        amount: {{ cart_total}},
        buyer_name: "구매자이름",
        appCard: true, // 설정시 신용카드 결제모듈에서 앱카드 결제만 활성화됩니다.
    }
    function requestPay() {
        IMP.request_pay(payInfo,function (rsp) {
            console.log(rsp)

        });
    }
</script>
{% endblock head %}

{% block content %}

<div class="mx-auto px-[200px] pt-10 pb-10">
  <div class="font-bold text-3xl mb-5">장바구니</div>

  {% comment %} 구매 테이블 {% endcomment %}

   {% comment %} 표시항목 {% endcomment %}
  <div class="flex p-3 py-2 text-[14px] text-white bg-[#1EB564] rounded-lg">
    <div class="w-1/12 text-center"><input type="checkbox" id="check-all"></div>
    <div class="w-1/12 text-center">이미지</div>
    <div class="w-1/12 grow text-center">상품명</div>
    <div class="w-1/12 text-center">수량</div>
    <div class="w-1/12 text-center">금액</div>
    <div class="w-1/12 text-center">게시일</div>
    <div class="w-1/12 text-center">삭제</div>
  </div>

   {% comment %} 게시물 {% endcomment %}

  <div class="flex flex-col mb-10">
    {% if cart_items %}
    {% for cart_item in cart_items %}
      <div class="flex items-center bg-white p-3 border-0 border-b-[1px] border-gray-300 hover:bg-gray-100">
        <div class="w-1/12 pl-11" scope="row"><input type="checkbox" id="check-item-1"></div>
        <div class="w-1/12 rounded-md h-24 border"> 
          {% comment %} overflow-hidden 삭제 {% endcomment %}
          <a href="{% url 'sales:detail' cart_item.product.pk %}">
          <img src="{{ cart_item.product.photo.url }}" alt="" class="object-cover w-full h-full">
          </a>
        </div>
        <div class="w-1/12 grow px-10">
          <div class="text-[12px] text-gray-700 border border-[1px] border-gray-400 w-fit rounded-md p-[2px] px-[4px] mb-2 shadow-sm">{{ cart_item.product.category }}</div>
          <h4 class="text-[18px] mb-1">{{ cart_item.product.title }}</h4>
        </div>
        <div class="text-center w-1/12">{{ cart_item.quantity }}</div>
        <div class="w-1/12 text-center flex flex-col items-center gap-2">
          <div>{{ cart_item.total_price|intcomma }}원</div>
        </div>
        <div class="w-1/12 text-center text-[12px] text-gray-500">{{ cart_item.product.created_at|date:"Y-m-d" }}</div>
        <div class="w-1/12 pl-10">
          <form action="{% url 'sales:remove_from_cart' cart_item.product.id %}" method="post">
            {% csrf_token %}
            <button type="submit" class="text-red-500 hover:text-red-700">삭제</button>
          </form>
        </div>
      </div>
    {% endfor %}
    {% else %}
    <p>장바구니에 담긴 상품이 없습니다.</p>
    {% endif %}
    
    
    {% comment %} 주문창 {% endcomment %}
    <table class="border-t border-b mt-[50px]">
      <tr class="border-b text-2xl">
        <td>총 주문 상품 : <span class="font-bold">{{ cart_items|length }}개</span></td>
      </tr>
      <tr>
        <td class="flex justify-center">
          <table class="mb-3 mt-3">
            <tr class="text-3xl text-center">
              <td class="pr-3">{{ cart_total |intcomma}}원</td>
              <td> + 0원</td>
              <td> = {{ cart_total |intcomma}}</td>

            </tr>
            <tr class="text-lg text-center">
              <td class="pr-5">상품금액</td>
              <td>배송비</td>
              <td>총 주문금액</td>
            </tr>
          </table>
        </td>
      </tr>
    </table>
  </div>



  
  <div class="mt-4 flex justify-center">
    <div class="button1">
      {% comment %} <button class="bg-[#1EB564] text-white rounded-md px-4 py-2 mx-1" data-bs-toggle="modal" data-bs-target="#buy" ><a href="{% url 'sales:create_order' %}">주문하기</a></button> {% endcomment %}

      <button class="bg-[#1EB564] text-white rounded-md px-4 py-2 mx-1" data-bs-toggle="modal" data-bs-target="#buy" onclick="requestPay()" >주문하기</button>
      {% comment %} <a href="{% url 'sales:create_order' %}" class="bg-[#1EB564] text-white rounded-md px-4 py-2 mx-1">주문하러가기</a> {% endcomment %}

      {% comment %} <form action="{% url 'sales:create_order' %}" method="POST">
        {% csrf_token %}
        <button type="submit" class="bg-[#1EB564] text-white rounded-md px-4 py-2 mx-1">주문하러가기</button>
      </form> {% endcomment %}

      {% comment %} <button class="bg-white border border-[#1EB564] text-[#1EB564] rounded-md px-4 py-2 mx-1" data-bs-toggle="modal" data-bs-target="#buy">선택상품 주문</button> {% endcomment %}
      <button class="bg-white border border-black  rounded-md px-4 py-2 mx-1"><a class="button2-a" href="{% url 'sales:index'%}">쇼핑계속하기</a></button>
    </div>
  </div>

</div>
{% endblock content %}


{% block script %}

<script>
  // 전체 선택 체크박스 클릭 시 개별 선택 체크박스 모두 체크
  document.getElementById("check-all").addEventListener("click", function() {
    var checkboxes = document.querySelectorAll('input[id^="check-item"]');
    for (var i = 0; i < checkboxes.length; i++) {
      checkboxes[i].checked = this.checked;
    }
  });

  // 개별 선택 체크박스 클릭 시 전체 선택 체크박스 체크 여부 결정
  var checkboxes = document.querySelectorAll('input[id^="check-item"]');
  for (var i = 0; i < checkboxes.length; i++) {
    checkboxes[i].addEventListener("click", function() {
      var allChecked = true;
      for (var j = 0; j < checkboxes.length; j++) {
        if (!checkboxes[j].checked) {
          allChecked = false;
          break;
        }
      }
      document.getElementById("check-all").checked = allChecked;
    });
  }
</script>
{% endblock script %}

