{% extends 'base.html' %}
{% load static %}
<!-- 가격표시 -->
{% load humanize %}


{% block content %}

  <main class="mx-auto px-[200px] pt-10 pb-10">
    <div class="flex mb-[50px]">
      <section class="w-1/3">
        <img class="detail_img" src="{{ product.photo.url }}" alt="">
      </section>
      <section class="w-2/3">
        <div class="border-b pb-3">
          <div class="font-bold text-2xl mb-3">{{ product.title }}</div>
          <div>
            <span class="font-bold">총 상품금액</span>
            (수량):
            <span class="font-bold">{{ product.price|intcomma }}원</span>
            (1개)
          </div>
          <p class="text-gray-600">(최소 주문 수량 1개 이상)</p>
        </div>

        <div>
          <div class="">
            <button type="button" class=""><a style="color: white;" href="#">바로 구매하기</a></button>
            <form method="post" action="{% url 'sales:add_to_cart' product.pk %}">
              {% csrf_token %}
              <label for="quantity">수량:</label>
              <input type="number" name="quantity" value="1" min="1">
              <button type="submit" class="">장바구니 담기</button>
            </form>
          </div>
        </div>
      </section>
    </div>

    <review class="">
      <section>
        <div  class="flex justify-end">
          <button id="createReviewButton" class="bg-green-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded">리뷰 생성</button>
        </div>
        <div id="reviewModal" class="hidden fixed inset-0 bg-gray-500 bg-opacity-75 flex items-center justify-center">
          <div class="bg-white rounded-lg p-6 w-96">
            <form class="" action="{% url 'sales:create_review' product.pk %}" method="POST">
              {% csrf_token %}
              <div class="mb-4">
                <label for="title" class="block text-gray-700 text-sm font-bold mb-2">제목:</label>
                <input type="text" id="title" name="title" class="w-full border rounded-lg px-3 py-2">
              </div>
              <div class="mb-4">
                <label for="content" class="block text-gray-700 text-sm font-bold mb-2">내용:</label>
                <textarea id="content" name="content" class="w-full border rounded-lg px-3 py-2"></textarea>
              </div>
              <input type="submit" class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded">
              <button id="closeModalButton" class="bg-red-500 hover:bg-red-700 text-white font-bold py-2 px-4 rounded">닫기</button>
            </form>
          </div>
        </div>
      </section>
    </review>

  </main>

  {% endblock content %}
  
  {% block script %}
    <script>
      const createReviewButton = document.getElementById('createReviewButton');
      const reviewModal = document.getElementById('reviewModal');
      const closeModalButton = document.getElementById('closeModalButton');
    
      createReviewButton.addEventListener('click', () => {
        reviewModal.classList.remove('hidden');
      });
      
      closeModalButton.addEventListener('click', () => {
        reviewModal.classList.add('hidden');
      });
    </script>

{% endblock script %}

    