{% extends 'base.html' %}
{% load humanize %}
{% load static %}


{% block head %}
<title>쇼핑</title>
<link rel="stylesheet" href="{% static 'css/sales_index.css' %}">
{% endblock head %}


{% block content %}
<main>
  <div class="sm:hidden h-14 px-2 flex items-center">
    <div class="flex flex-shrink-0 items-center gap-4">
        <img class="h-8 w-auto" src="{% static 'img/logo.svg' %}" alt="Your Company">
        <p class="text-xl h-8 w-auto"><b>그린샵</b></p>
    </div>
  </div>

  {% comment %} 배너 {% endcomment %}
  <div class="hidden sm:block w-full h-[180px] overflow-hidden relative">
    <div class="mx-auto max-w-7xl px-2 sm:px-6 lg:px-8">
      <div class="absolute flex items-center gap-10 top-1/2 -translate-y-1/2 z-10">
        <img src="{% static 'img/카트.png' %}" alt="" class="w-36 h-32">
        <div>
          <p class="text-[16px] text-gray-400 font-semibold mb-3">식물에 대한 다양한 상품들<br>모두 여기에서 찾아보세요</p>
          <h1 class="text-[25px] font-semibold">쇼핑</h1>
        </div>
      </div>
    </div>
    <div class='w-full h-[180px] bg-gradient-to-b from-gray-200 absolute'></div>
  </div>

  {% comment %} 컨텐츠 {% endcomment %}
  <div class="mx-auto max-w-7xl px-2 sm:px-6 lg:px-8">
    <div class="flex sm:flex-row flex-col gap-3 sm:gap-8 w-full mb-16">
      {% comment %} 필터 {% endcomment %}
      <div class="border rounded-xl w-full sm:w-3/12 h-fit p-5 sm:sticky sm:top-[100px]">
        <h2 class="text-[18px] font-semibold mb-5 sm:mb-8">필터</h2>
        <form action="{% url 'sales:filter' %}" method="GET">
          <div class="mb-8">

            {% comment %} 카테고리 {% endcomment %}
            <h3 class="pb-3 border-0 border-b-[1px] mb-3">카테고리</h3>
            <div class="grid grid-flow-cols grid-cols-4 sm:grid-cols-2 gap-2">
              <div class="flex items-center gap-2">
                <input type="checkbox" id="화분" name="category" value="화분" class="accent-emerald-600" {% if '화분' in category %}checked{% endif %} />
                <label for="화분" class="text-[14px]">화분</label>
              </div>
              <div class="flex items-center gap-2">
                <input type="checkbox" id="삽" name="category" value="삽" class="accent-emerald-600" {% if '삽' in category %}checked{% endif %} />
                <label for="삽" class="text-[14px]">삽</label>
              </div>
              <div class="flex items-center gap-2">
                <input type="checkbox" id="식물" name="category" value="식물" class="accent-emerald-600" {% if '식물' in category %}checked{% endif %} />
                <label for="식물" class="text-[14px]">식물</label>
              </div>
              <div class="flex items-center gap-2">
                <input type="checkbox" id="비료" name="category" value="비료" class="accent-emerald-600" {% if '비료' in category %}checked{% endif %} />
                <label for="비료" class="text-[14px]">비료</label>
              </div>
              <div class="flex items-center gap-2">
                <input type="checkbox" id="습도" name="category" value="습도" class="accent-emerald-600" {% if '습도' in category %}checked{% endif %} />
                <label for="습도" class="text-[14px]">습도</label>
              </div>
              <div class="flex items-center gap-2">
                <input type="checkbox" id="물주기" name="category" value="물주기" class="accent-emerald-600" {% if '물주기' in category %}checked{% endif %} />
                <label for="물주기" class="text-[14px]">물주기</label>
              </div>
              <div class="flex items-center gap-2">
                <input type="checkbox" id="온도" name="category" value="온도" class="accent-emerald-600" {% if '온도' in category %}checked{% endif %} />
                <label for="온도" class="text-[14px]">온도</label>
              </div>
            </div>
          </div>
          <div class="mb-8">
            {% comment %} 가격 범위설정 {% endcomment %}
            <div class="flex justify-between items-end pb-3 border-0 border-b-[1px] mb-3">
              <h3>가격</h3>
              <p class="text-[14px]"><b>{{ low_price|intcomma }}</b>원 - <b>{{ high_price|intcomma }}</b>원</p>
            </div>
            <div class="middle mb-3">
              <div class="multi-range-slider">
                <!-- 진짜 슬라이더 -->
                <input type="range" name="low_price" id="input-left" min="0" max="100000" value="0" step="10000"/>
                <input type="range" name="high_price" id="input-right" min="0" max="100000" value="100000" step="10000"/>

                <!-- 커스텀 슬라이더 -->
                <div class="slider">
                  <div class="track"></div>
                  <div class="range"></div>
                  <div class="thumb left"></div>
                  <div class="thumb right"></div>
                </div>
              </div>
            </div>
            <div class="flex justify-between">
              <p id="cnt-left" class="border rounded-md text-[14px] text-center p-[2px] px-[10px]">0</p>
              <p id="cnt-right" class="border rounded-md text-[14px] text-center p-[2px] px-[10px]">100,000</p>
            </div>
          </div>
          <input type="submit" class="w-full h-10 rounded-md bg-[#1EB564] text-white text-[18px] font-semibold cursor-pointer hover:bg-green-700" value="적 용">
        </form>
      </div>
      <div class="w-full sm:w-9/12">
        {% comment %} sort방식 {% endcomment %}
        <div class="w-full rounded-lg bg-gray-100 flex items-center justify-between p-2 px-4 text-gray-500 text-[14px] mb-3 sm:mb-5">
          <a href="#" class="hover:text-black">인기순</a>
          <a href="#" class="hover:text-black">낮은가격순</a>
          <a href="#" class="hover:text-black">높은가격순</a>
          <a href="#" class="hover:text-black">최신순</a>
        </div>

        {% comment %} 상품목록 {% endcomment %}
        {% if page_obj %}
        <div class="grid grid-flow-rows grid-cols-2 sm:grid-cols-4 gap-4 sm:gap-8">
          {% for product in page_obj %}
          <a href="{% url 'sales:detail' product.pk %}">
            <div>
              <div class="relative w-full h-48 overflow-hidden border rounded-lg mb-3">
                <p class="absolute top-2 left-2 z-20 bg-white border rounded-md text-[12px] w-fit p-[2px] px-[4px] shadow-sm">{{ product.category }}</p>
                <img src="{{ product.photo.url }}" alt="" class="w-full h-full object-cover duration-200 ease-linear hover:scale-110">
              </div>
              <h2 class="px-2 mb-1">{{ product.title }}</h2>
              <div class="w-full px-2 flex items-center justify-between">
                <p class="font-semibold">{{ product.price|intcomma }}원</p>

                <div class="flex items-center gap-3">
                  <div class="flex items-center gap-1">
                    <span class="material-symbols-outlined text-[14px] mt-[0.5px]">favorite</span>
                    <span class="text-[14px]">{{ product.like_users.all|length }}</span>
                  </div>
                  <div class="flex items-center gap-1">
                    <span class="material-symbols-outlined text-[14px] mt-[0.5px]">chat_bubble</span>
                    <span class="text-[14px]">{{ product.reviews.all|length }}</span>
                  </div>
                </div>
              </div>
            </div>
          </a>
          {% endfor %}
        </div>
        {% else %}
        <div class="w-full h-full flex justify-center items-center">
          상품이 없습니다
        </div>
        {% endif %}

        {% comment %} 페이지네이션 {% endcomment %}
        {% if page_obj.has_other_pages %}
        <div class="flex justify-center items-center mt-5 pb-10">
          {% if page_obj.has_previous %}
            <a href="?page={{ page_obj.previous_page_number }}" class="w-8 h-8 p-1 text-center bg-transparent rounded-full text-gray-400 hover:text-black">
              <span class="material-symbols-outlined flex items-center justify-center">arrow_back_ios</span>
            </a>
          {% endif %}
          
          {% for num in page_obj.paginator.page_range %}
            {% if page_obj.number == num %}
              <span class="w-8 h-8 p-1 text-center text-[#1EB564] font-semibold">{{ num }}</span>
            {% else %}
              <a href="?page={{ num }}" class="w-8 h-8 p-1 text-center bg-transparent rounded-full text-gray-700 hover:bg-gray-100">{{ num }}</a>
            {% endif %}
          {% endfor %}
          
          {% if page_obj.has_next %}
            <a href="?page={{ page_obj.next_page_number }}" class="w-8 h-8 p-1 text-center bg-transparent rounded-full text-gray-400 hover:text-black">
              <span class="material-symbols-outlined flex items-center justify-center">arrow_forward_ios</span>
            </a>
          {% endif %}
        </div>
      {% endif %}
      </div>
    </div>
  </div>
</main>
{% endblock content %}


{% block script %}
<script src="{% static 'js/salesPriceRange.js' %}"></script>
{% endblock script %}