{% extends 'base.html' %}
{% load humanize %}

{% block head %}
{% endblock head %}

{% block content %}


  <div class="mx-auto px-[200px] pt-10 pb-10">
    {% if products %}
    <p class="font-bold text-2xl">상품 개수 : {{ products|length}}</p>
      <div class="grid grid-cols-4 gap-4">
        {% for product in products %}
          <div class="bg-white rounded-lg p-4">
            <a href="{% url 'sales:detail' product.pk %}"><img src="{{ product.photo.url }}" alt="{{ product.title }}" class="w-full h-auto mt-4 object-contain"></a>
            <div class="ml-3">

              <p class=" text-2xl mt-3">{{product.title}}</p>
              <p class="font-bold text-lg">{{ product.price|intcomma }}원</p>
            </div>

          </div>
        {% endfor %}
      </div>
  </div>
    {% else %}
      <p>검색 결과가 없습니다.</p>
    {% endif %}


{% endblock content %}

{% block script %}{% endblock script %}