{% extends 'base.html' %}
{% load humanize%}
{% block head %}

<style>
  .card {
    border-radius: 0.5rem;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
</style>
{% endblock head %}

{% block content %}
<div class="flex items-center justify-center min-h-screen">
  <div class="max-w-3xl w-full px-4 py-6 ">
    <div class="card bg-white h-full">
      <div class="card-header bg-green-600 text-white py-2 px-4">
        <h1 class="text-2xl">주문 정보</h1>
      </div>
      <div class="card-body px-4 py-4">
        <p class="text-xl mb-3 border-b pb-4 font-bold"><span class="text-4xl">주문상태:</span>
          {% if order.payment_status %}
            <span class="text-3xl text-[#1EB564]">배송 시작!!</span>
          {% else %}
          <span class="text-3xl text-[#1EB564]">배송 준비중</span>
          {% endif %}
        </p>
        <p class="text-xl mb-3"><span class="font-bold">주문번호:</span> {{ order.order_number }}</p>
        <p class="text-xl mb-3"><span class="font-bold">주문일시:</span> {{ order.order_date }}</p>
        <p class="text-xl mb-3"><span class="font-bold">주문자:</span> {{ order.user }}</p>
        <p class="text-xl mb-3"><span class="font-bold">상품명:</span> {{ order.product_name }}</p>
        <p class="text-xl mb-3"><span class="font-bold">수량:</span> {{ order.quantity }}개</p>
        <p class="text-xl mb-3"><span class="font-bold">금액:</span> {{ order.price|intcomma}}원</p>
        <p class="text-xl mb-3"><span class="font-bold">주소:</span> {{ order.delivery_address }}</p>
        <a href="{% url 'home' %}" class="mt-4 block text-center bg-white border border-[#1EB564] text-[#1EB564] rounded-md px-4 py-2 hover:bg-[#1EB564] hover:text-white">메인화면</a>
      </div>
    </div>
  </div>
</div>
{% endblock content %}