{% extends 'base.html' %}

{% block head %}

<script
  src="https://code.jquery.com/jquery-3.3.1.min.js"
  integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
  crossorigin="anonymous"></script>
<script>
  function cancelPay() {
    jQuery.ajax({
      // 예: http://www.myservice.com/payments/cancel
      "url": "{% url 'sales:order_cancel' %}", 
      "type": "POST",
      "contentType": "application/json",
      "data": JSON.stringify({
        "merchant_uid": {{ order.order_number }}, // 예: ORD20180131-0000011
        "cancel_request_amount": {{order.price}}, // 환불금액
        "reason": "테스트 결제 환불" // 환불사유
        // [가상계좌 환불시 필수입력] 환불 수령계좌 예금주
        "refund_holder": "홍길동", 
        // [가상계좌 환불시 필수입력] 환불 수령계좌 은행코드(예: KG이니시스의 경우 신한은행은 88번)
        "refund_bank": "88" 
        // [가상계좌 환불시 필수입력] 환불 수령계좌 번호
        "refund_account": "56211105948400" 
      }),
      "dataType": "json"
    });
  }
</script>


{% endblock head %}

{% block content %}
  <h1>주문 세부 정보</h1>
  <p>주문번호: {{ order.order_number }}</p>
  <p>주문일시: {{ order.order_date }}</p>
  <p>주문자 : {{ order.user }}</p>
  <p>상품명 :{{ order.product_name}} </p>
  <p>수량: {{ order.quantity }}</p>
  <p>금액 :{{ order.price}} </p>
  <p>주소  :{{ order.delivery_address }} </p>
  <p>주문상태:
    {% if order.payment_status %}
      배송 시작!!
    {% else %}
      배송 준비중
    {% endif %}
  </p>

  <button onclick="cancelPay()">환불하기</button>
{% endblock content %}