{% extends 'base.html' %}

{% block head %}
<!-- jQuery -->
<script type="text/javascript" src="https://code.jquery.com/jquery-1.12.4.min.js" ></script>
<!-- iamport.payment.js -->
<script type="text/javascript" src="https://cdn.iamport.kr/js/iamport.payment-1.2.0.js"></script>
<script type="text/javascript" src="https://cdn.iamport.kr/v1/iamport.js"></script>

<script>
    var IMP = window.IMP; 
    IMP.init("imp43825152"); 
  
    var today = new Date();   
    var hours = today.getHours(); // 시
    var minutes = today.getMinutes();  // 분
    var seconds = today.getSeconds();  // 초
    var milliseconds = today.getMilliseconds();
    var makeMerchantUid = hours +  minutes + seconds + milliseconds;
    
    const payInfo = {
        pg: "uplus.tlgdacomxpay",
        pay_method: "card",
        merchant_uid: "order_no_0002", //상점에서 생성한 고유 주문번호
        name: "주문명:결제테스트",
        amount: 1,
        buyer_name: "구매자이름",
        appCard: true, // 설정시 신용카드 결제모듈에서 앱카드 결제만 활성화됩니다.
    }
    function requestPay() {
        IMP.request_pay(payInfo,function (rsp) {
            console.log(rsp)

        });
    }
</script>
{% endblock head %}


{% block content %}
  <button onclick="requestPay()">결제하기</button>
{% endblock content %}


{% block script %}

{% endblock script %}