{% extends 'base.html' %}
{% load static %}

{% block content %}
  <h1>detail</h1>

  이름: {{ garden.name }}
  번호: {{ garden.pk }}

  {% comment %} 댓글 {% endcomment %}
  {% for comment in comments %}
    <p>{{ comment.content }}</p>
  {% endfor %}

  {% comment %} 삭제기능 {% endcomment %}
  {% for comment in comments %}
    <p>{{ comment.content }}</p>
    {% if request.user == comment.user %}
      <form method="POST" action="{% url 'comment_delete' product_pk=product.pk comment_pk=comment.pk %}">
        {% csrf_token %}
        <button type="submit">삭제</button>
      </form>
    {% endif %}
  {% endfor %}


<form class='sidebar-interest' action="{% if user.is_anonymous %}{% url 'accounts:login' %}{% else %}{% url 'gardens:like_garden' garden.pk %}{% endif %}" method="POST">
  {% csrf_token %}
  <button class='option-btn' type='submit'>
    {% if request.user in garden.like_users.all %}
      <div>관심상품 취소</div>
    {% else %}
      <div>관심상품</div>
    {% endif %}
  </button>
</form>
{% endblock content %}
