{% extends 'base.html' %}
{% load static %}

{% block head %}
<script src="https://cdn.tailwindcss.com"></script>
<style>
  .comment-section {
    margin-top: 20px;
  }

  .comment-section form {
    margin-bottom: 10px;
  }

  .comment-section p {
    margin-right: 10px;
  }

  .comment-section form button[type="submit"] {
    margin-left: 10px;
  }

  #map {
    width: 100%;
    height: 400px;
    margin-top: 20px;
  }
</style>
{% endblock head %}

{% block content %}
<div class="py-3 px-10">
  <div class="flex items-start justify-center">
    <div class="w-1/2 flex items-center justify-center">
      <a href="{{ garden.site_link }}">
        <img src="{{ garden.image.url }}" alt="Garden Image" style="max-width: 300px;">
      </a>
    </div>
    <div class="w-1/2">
      <div class="flex justify-center border-2 border-lime-800 rounded-lg" style="width: 50%;">
        <div class="flex flex-col text-center divide-y divide-lime-500">
          <div class="mt-1">번호: {{ garden.pk }}</div>
          <div class="mt-1">이름: {{ garden.title }}</div>
          <div>  
            {% comment %} <div id="map"></div> {% endcomment %}
          <script>
            function showMap() {
              var gardenPk = "{{ garden.pk }}";
              window.location.href = "/gardens/map/" + gardenPk + "/";
            }
          </script>
          
          <button onclick="showMap()">지도 보기</button>
        </div>
          

          <form class='sidebar-interest' action="{% if user.is_anonymous %}{% url 'accounts:login' %}{% else %}{% url 'gardens:like_garden' garden.pk %}{% endif %}" method="POST">
            {% csrf_token %}
            <button class='option-btn' type='submit'>
              {% if request.user in garden.like_users.all %}
                <div>관심상품 취소</div>
              {% else %}
                <div>관심상품</div>
              {% endif %}
            </button>
          </form>
        </div>
      </div>
    </div>
  </div>

  <hr class="my-6 border-lime-600">

  <div class="flex justify-center">
    <div>{{ garden.content|safe }}</div>
  </div>

  <hr class="my-6 border-lime-600">

  <div class="comment-section">
    <h2>댓글</h2>
    <form id="commentForm" method="POST" action="{% url 'gardens:comment' garden_pk=garden.pk %}" enctype="multipart/form-data">
      {% csrf_token %}
      {{ comment_form.as_p }}
      <button type="submit">작성</button>
    </form>
  </div>

  <hr>

  {% comment %} 댓글 {% endcomment %}
  {% for comment in comments %}
  <div class="comment" style="border-bottom: 1px solid gray; padding-bottom: 10px; margin-bottom: 10px;">
    <p>{{ comment.content }}</p>
    {% if comment.image %}
      <img src="{{ comment.image.url }}" alt="Comment Image" style="max-width: 300px;">
    {% endif %}
    {% if request.user == comment.user %}
      <form method="POST" action="{% url 'gardens:comment_delete' garden_pk=garden.pk comment_pk=comment.pk %}">
        {% csrf_token %}
        <button type="submit">삭제</button>
      </form>
    {% endif %}
  </div>
{% endfor %}

{% endblock content %}

