{% extends 'base.html' %}
{% load static %}


{% block head %}
<title>식물원</title>
{% endblock head %}


{% block content %}
<main>
  {% comment %} 배너 {% endcomment %}
  <div class="w-full h-[350px] overflow-hidden relative mb-5">
    <div class="absolute top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2 z-10">
      <div class="flex items-center gap-5">
        <img src="{% static 'img/finger.png' %}" alt="" class="w-28 h-24">
        <p class="text-[20px] font-semibold text-white">어디 갈지 고민될 때, <span class="text-[#00FF76]">식물원</span> 어때요?</p>
      </div>

      {% comment %} 검색 {% endcomment %}
      <form class="flex items-center justify-center rounded-lg border-[1px] border-black bg-white p-1 ps-3 w-[500px]" action="{% url 'gardens:search' %}" method="GET">
        {% csrf_token %}
        <span class="material-symbols-outlined text-gray-400">search</span>
        <input type="search" name="query" class="ps-1 pe-3 h-8 w-full bg-transparent rounded-lg focus:outline-none" placeholder="식물원 및 축제 이름을 입력해주세요">
        <button class="text-white bg-[#1EB564] w-20 hover:bg-[#148D4C] p-1 px-2 rounded-md" type="submit">검 색</button>
      </form>
    </div>
    <div class='w-full h-[350px] bg-black/60 absolute'></div>
    <img src="https://tgzzmmgvheix1905536.cdn.ntruss.com/2019/07/0aa98a7cf8414abf850bc5edc6d1332c" alt="" class="w-full h-full object-cover">
  </div>
  
  <div class="mx-auto max-w-7xl px-2 sm:px-6 lg:px-8">
    <div class="flex justify-center gap-10 border-0 border-b-[1px] border-gray-400 bg-white py-3 mb-5 sticky top-[60px] z-10">
      <div class='text-gray-400 hover:text-black'>
        <a href="{% url 'gardens:listing' %}?category=전체">
          <span>전체</span>
        </a>
      </div>
      <div class='text-gray-400 hover:text-black'>
        <a href="{% url 'gardens:listing' %}?category=전시회">
          <span>전시회</span>
        </a>
      </div>
      <div class='text-gray-400 hover:text-black'>
        <a href="{% url 'gardens:listing' %}?category=식물원">
          <span>식물원</span>
        </a>
      </div>
      <div class='text-gray-400 hover:text-black'>
        <a href="{% url 'gardens:listing' %}?category=정원센터">
          <span>정원센터</span>
        </a>
      </div>
      <div class='text-gray-400 hover:text-black'>
        <a href="{% url 'gardens:listing' %}?category=축제">
          <span>축제</span>
        </a>
      </div>
    </div>
    
    <div class="grid grid-cols-2 gap-10 mb-8">
      {% for garden in page_obj %}
      <a href="{% url 'gardens:detail' garden.pk %}">
        <div class="h-60 border rounded-xl p-5 flex gap-5 hover:-translate-y-1.5 transform transition hover:shadow-lg">
          <div class="w-full h-full overflow-hidden rounded-md border">
            <img src="{{ garden.image.url }}" alt="Garden Image" class="w-full h-full object-cover">
          </div>
          <div class="w-full flex flex-col justify-between">
            <div>
              <div class="text-[12px] text-gray-700 border border-[1px] border-gray-400 w-fit rounded-md p-[2px] px-[4px] mb-2 shadow-sm">{{ garden.category }}</div>
              <h1 class="text-[20px] font-semibold">{{ garden.title }}</h1>
              <p class="text-[14px] text-gray-500">{{ garden.address }}</p>
            </div>
            <p>{{ garden.ex_content }}</p>
            <div class="flex items-end gap-5 text-gray-500">
              <div class="flex items-center gap-2">
                <span class="material-symbols-outlined text-[16px] mt-[0.5px]">favorite</span>
                <span id="garden-like-count">{{ garden.like_users.all|length }}</span>
              </div>
              <div class="flex items-center gap-2">
                <span class="material-symbols-outlined text-[16px] mt-[0.5px]">chat_bubble</span>
                <span>{{ garden.comments.all|length }}</span>
              </div>
              <div class="flex items-center gap-2">
                <span class="material-symbols-outlined text-[16px] mt-[0.5px]">visibility</span>
                <span>{{ garden.hits }}</span>
              </div>
            </div>
          </div>
        </div>
      </a>
      {% endfor %}
    </div>

    {% comment %} 검색 쿼리 추가 페이지네이션 {% endcomment %}
    {% if page_obj.has_other_pages %}
      <div class="flex justify-center items-center mt-8 pb-16">
        {% if page_obj.has_previous %}
          <a href="?q={{ query }}&page={{ page_obj.previous_page_number }}" class="w-8 h-8 p-1 text-center bg-transparent rounded-full text-gray-400 hover:text-black">
            <span class="material-symbols-outlined flex items-center justify-center">arrow_back_ios</span>
          </a>
        {% endif %}
        
        {% for num in page_obj.paginator.page_range %}
          {% if page_obj.number == num %}
            <span class="w-8 h-8 p-1 text-center text-[#1EB564] font-semibold">{{ num }}</span>
          {% else %}
            <a href="?q={{ query }}&page={{ num }}" class="w-8 h-8 p-1 text-center bg-transparent rounded-full text-gray-700 hover:bg-gray-100">{{ num }}</a>
          {% endif %}
        {% endfor %}
        
        {% if page_obj.has_next %}
          <a href="?q={{ query }}&page={{ page_obj.next_page_number }}" class="w-8 h-8 p-1 text-center bg-transparent rounded-full text-gray-400 hover:text-black">
            <span class="material-symbols-outlined flex items-center justify-center">arrow_forward_ios</span>
          </a>
        {% endif %}
      </div>
    {% endif %}
  </div>
</main>
{% endblock content %}


{% block script %}{% endblock script %}