{% extends 'base.html' %}
{% load static %}

{% block head %}
<script src="https://cdn.tailwindcss.com"></script>
{% endblock head %}

{% block content %}
    <div class="flex p-2">
        <div class='category-box px-2'>
          <a href="{% url 'gardens:listing' %}?category=전체">
            <span>전체</span>
          </a>
        </div>
        <div class='category-box px-2'>
          <a href="{% url 'gardens:listing' %}?category=전시회">
            <span>전시회</span>
          </a>
        </div>
        <div class='category-box px-2'>
          <a href="{% url 'gardens:listing' %}?category=식물원">
            <span>식물원</span>
          </a>
        </div>
        <div class='category-box px-2'>
          <a href="{% url 'gardens:listing' %}?category=정원 센터">
            <span>정원센터</span>
          </a>
        </div>
        <div class='category-box px-2'>
          <a href="{% url 'gardens:listing' %}?category=이벤트">
            <span>이벤트</span>
          </a>
        </div>
    </div>

    <div class="grid grid-cols-2 gap-6 py-2">
      {% for garden in gardens %}
        <div class="flex items-center justify-center">
          <a href="{% url 'gardens:detail' garden.pk %}">
            <div class="border-2 border-lime-800 rounded-lg" style="width: 400px; height: 400px; margin: 50px;">
              <div class="flex flex-col items-center justify-center" style="height: 100%;">
                <img src="{{ garden.image.url }}" alt="Garden Image" class="rounded-lg" style="max-width: 300px; max-height: 300px;">
              </div>
              <div class="text-center">
                {{ garden.title }}
              </div>
            </div>
          </a>
        </div>
      {% endfor %}
    </div>
    

    {% if gardens.has_other_pages %}
    <div class="flex justify-center mt-4">
        {% if gardens.has_previous %}
        <a href="?category={{ category }}&page={{ gardens.previous_page_number }}" class="px-2 py-1 bg-transparent text-gray-700 hover:bg-blue-300">이전</a>
        {% endif %}

        {% for num in gardens.paginator.page_range %}
        {% if gardens.number == num %}
        <span class="px-2 py-1 bg-blue-500 text-white">{{ num }}</span>
        {% else %}
        <a href="?category={{ category }}&page={{ num }}" class="px-2 py-1 bg-transparent text-gray-700 hover:bg-blue-300">{{ num }}</a>
        {% endif %}
        {% endfor %}

        {% if gardens.has_next %}
        <a href="?category={{ category }}&page={{ gardens.next_page_number }}" class="px-2 py-1 bg-transparent text-gray-700 hover:bg-blue-300">다음</a>
        {% endif %}
    </div>
    {% endif %}
{% endblock content %}
{% block script %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.2.1/owl.carousel.min.js"></script>
    <script src="{% static 'js/homeCarousel.js' %}"></script>
{% endblock script %}