{% extends 'base.html' %}
{% load static %}

{% block content %}
  <!DOCTYPE html>
  <html>
  <head>
      <meta charset="UTF-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no">
      <title>간단한 지도 표시하기</title>
      <script type="text/javascript" src="https://openapi.map.naver.com/openapi/v3/maps.js?ncpClientId=tzzd5t1bsm"></script>
  </head>
  <body>
  <div id="map" style="width:100%;height:400px;"></div>

  <script>
  var mapOptions = {
      center: new naver.maps.LatLng(37.3595704, 127.105399),
      zoom: 10
  };

  var map = new naver.maps.Map('map', mapOptions);
  </script>
  </body>
  </html>
{% endblock content %}


{% comment %} {% block content %}
  <h1>{{ garden.title }}의 위치 설정</h1>
  <div id="map" style="width:100%;height:400px;"></div>

  <form method="POST" action="{% url 'gardens:location' garden_pk=garden.pk %}">
    {% csrf_token %}
    <input type="hidden" id="latitude" name="latitude" value="{{ garden.latitude }}">
    <input type="hidden" id="longitude" name="longitude" value="{{ garden.longitude }}">
    <button type="submit">위치 저장</button>
  </form>

  <script src="https://openapi.map.naver.com/openapi/v3/maps.js?ncpClientId=tzzd5t1bsm"></script>
  <script>
    var mapOptions = {
      center: new naver.maps.LatLng({{ garden.latitude }}, {{ garden.longitude }}),
      zoom: 10
    };

    var map = new naver.maps.Map('map', mapOptions);

    naver.maps.Event.addListener(map, 'click', function (e) {
      var latlng = e.coord;
      document.getElementById('latitude').value = latlng.lat();
      document.getElementById('longitude').value = latlng.lng();
    });
  </script>
{% endblock content %} {% endcomment %}
