{% extends 'base.html' %}
{% load static %}

{% block content %}
  <!DOCTYPE html>
  <html>
  <head>
      <meta charset="UTF-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no">
      <title>간단한 지도 표시하기</title>
      <script type="text/javascript" src="https://openapi.map.naver.com/openapi/v3/maps.js?ncpClientId=tzzd5t1bsm"></script>
  </head>
  <body>
  <div id="map" style="width:100%;height:600px;"></div>

  <script>
  var mapOptions = {
      center: new naver.maps.LatLng(37.5126405872327,127.10247645993987),
      zoom: 16
  };

  var map = new naver.maps.Map('map', mapOptions);
  var marker = new naver.maps.Marker({
    position: new naver.maps.LatLng(37.5126405872327,127.10247645993987),
    map: map,
    animation: naver.maps.Animation.BOUNCE
});
  </script>
  </body>
  </html>
{% endblock content %}


{% comment %} {% block content %}
  <h1>{{ garden.title }}의 위치 설정</h1>
  <div id="map" style="width:100%;height:600px;"></div>

  <script src="https://openapi.map.naver.com/openapi/v3/maps.js?ncpClientId=tzzd5t1bsm"></script>
  <script>
    var mapOptions = {
      center: new naver.maps.LatLng({{ garden.latitude }}, {{ garden.longitude }}),
      zoom: 16
    };

    var map = new naver.maps.Map('map', mapOptions);

    var marker = new naver.maps.Marker({
      position: new naver.maps.LatLng({{ garden.latitude }}, {{ garden.longitude }}),
      map: map
      animation: naver.maps.Animation.BOUNCE
    });

    naver.maps.Event.addListener(map, 'click', function (e) {
      var latlng = e.coord;
      marker.setPosition(latlng);
    });
  </script>
{% endblock content %} {% endcomment %}

