{% extends 'base.html' %}
{% load static %}
{% block content %}

<!DOCTYPE html>
<html>
  <head>
    <title>Map</title>
    <script src="https://openapi.map.naver.com/openapi/v3/maps.js?ncpClientId=tzzd5t1bsm"></script>
  </head>
  <body>
    <div id="map" style="width: 500px; height: 400px;"></div>
    <script>
      var latitude = {{ latitude }};
      var longitude = {{ longitude }};
      
      var mapOptions = {
        center: new naver.maps.LatLng(latitude, longitude),
        zoom: 16
      };
      
        var map = new naver.maps.Map('map', mapOptions);
      
        var marker = new naver.maps.Marker({
          position: new naver.maps.LatLng(latitude, longitude),
          map: map,
          animation: naver.maps.Animation.BOUNCE
        });
    </script>
  </body>
</html>

{% endblock content %}