{% extends 'base.html' %}
{% load static %}


{% block head %}
<title>비밀번호 변경</title>
{% endblock head %}


{% block content %}
<main class="bg-gray-100 h-screen flex">
  <div class="mx-auto max-w-7xl px-2 sm:px-6 lg:px-8">
    <div class="sm:hidden h-14 px-2 flex items-center">
      <div class="flex flex-shrink-0 items-center gap-4">
          <img class="h-8 w-auto" src="{% static 'img/logo.svg' %}" alt="Your Company">
          <p class="text-xl h-8 w-auto"><b>무럭무럭</b></p>
      </div>
    </div>
  <div class="mx-auto max-w-7xl px-2 sm:px-6 lg:px-8">
      <div class="rounded-xl bg-white shadow-sm mx-auto p-8 mt-16 w-[350px]">
        <h1 class="text-center mb-8 text-[20px]"><b>비밀번호 수정</b></h1>
          <form action="{% url 'accounts:change_password' %}" method="POST" class="form-text" enctype = 'multipart/form-data'>
            {% csrf_token %}
            <div class="flex flex-col gap-3 mb-5">
              <div class="text-[14px]">{{ form.old_password.label }}</div>
              <div>{{ form.old_password }}</div>
            </div>
            <div class="flex flex-col gap-3 mb-5">
              <div class="text-[14px]">{{ form.new_password1.label }}</div>
              <div>{{ form.new_password1 }}</div>
            </div>
            <div class="flex flex-col gap-3 mb-5">
              <div class="text-[14px]">{{ form.new_password2.label }}</div>
              <div>{{ form.new_password2 }}</div>
            </div>
            <input type="submit" class="bg-[#1EB564] text-white rounded-md text-center w-full p-2 font-semibold cursor-pointer" value="비밀번호 수정">
          </form>
      </div>
  </div>
</main>
{% endblock content %}


{% block script %}{% endblock script %}