{% extends 'base.html' %}
{% load static %}


{% block head %}
<link rel="stylesheet" href="{% static 'css/profile.css' %}">
{% endblock head %}


{% block content %}
<main>
  <div class="profile-banner_wrapper">
    <img src="{% static 'img/profile_banner.jpg' %}" alt="">
  </div>
  <div class="mx-auto max-w-7xl px-2 sm:px-6 lg:px-8 relative z-30">
    <div class="flex gap-10 absolute top-[-40px]">
      <div class="profile-image_wrapper rounded-full border border-[#1EB564]">
        {% if person.image %}
          <img src="{{ person.image.url }}" alt="profile">
        {% else %}
          <img src="{% static 'img/no_profile.jpg' %}" alt="">
        {% endif %}
      </div>
      <div class="flex flex-col">
        <div class="flex items-center gap-5">
          {% comment %} <div>{{ user_title.name }}</div> {% endcomment %}
          <div class="bg-white text-[#1EB564] p-1 px-2 rounded-md"><b>🌱뉴비</b></div>
          <div><b>포인트: {{ person.user_profile.points }}P</b></div>
        </div>
        <div class="mt-4">
          <div class="flex items-center justify-between info-form">
            <div class="flex gap-5 items-center">
              <h1 class="text-[22px]"><b>{{ person.username }}</b></h1>
              {% if request.user != person %}
                  <form id="follow-form" data-user-id="{{ person.pk }}" class="rounded-md bg-[#1EB564] text-white text-[14px] p-1 px-2 me-5">
                    {% csrf_token %}
                    {% if request.user in person.followers.all %}
                      <input type="submit" value="언팔로우" class="cursor-pointer">
                    {% else %}
                      <input type="submit" value="팔로우" class="cursor-pointer">
                    {% endif %}
                  </form>
                {% endif %} 
            </div>

            {% if request.user == person %}
            <div class="relative">
              {% comment %} 수정 및 탈퇴 메뉴버튼 {% endcomment %}
              <div>
                  <button type="button" class="border flex rounded-md bg-white p-1 hover:bg-gray-100" id="log-menu-button" aria-expanded="false" aria-haspopup="true">
                      <span class="sr-only">Open user menu</span>
                      <span class="material-symbols-outlined">more_horiz</span>
                  </button>
              </div>
  
              {% comment %} 회원정보수정, 비밀번호 변경, 탈퇴 드롭다운 {% endcomment %}
              <div class="absolute right-0 z-10 mt-2 w-36 origin-top-right rounded-md bg-white py-1 shadow-lg ring-1 ring-black ring-opacity-5 focus:outline-none" role="menu" aria-orientation="vertical" aria-labelledby="log-menu-button" tabindex="-1" id="log-dropdown" style="display: none;">
                <a href="{% url 'accounts:update' %}" class="block px-4 py-2 text-sm text-gray-700 hover:bg-gray-100" role="menuitem" tabindex="-1" id="log-menu-item-0">회원정보 수정</a>
                <a href="{% url 'accounts:change_password' %}" class="block px-4 py-2 text-sm text-gray-700 hover:bg-gray-100" role="menuitem" tabindex="-1" id="log-menu-item-1">비밀번호 수정</a>
                <form action="{% url 'accounts:delete' %}" method="POST">
                  {% csrf_token %}
                  <input type="submit" class="block px-4 py-2 text-sm text-gray-700 hover:bg-gray-100 w-full text-start cursor-pointer" role="menuitem" tabindex="-1" id="log-menu-item-2" value="회원탈퇴" onclick="return confirm('삭제 하시겠습니까?')" >
                </form>
                <a href="{% url 'accounts:logout' %}" class="block px-4 py-2 text-sm text-gray-700 hover:bg-gray-100" role="menuitem" tabindex="-1" id="log-menu-item-3">로그아웃</a>
              </div>
            </div>
            {% endif %} 
          </div>
          <h2 class="text-[14px] text-gray-400">{{ person.email }}</h2>
          <div class="text-[16px] mt-1"><span id="followers-count" class="cursor-pointer">팔로우 <b>{{person.followers.count}}</b></span> · <span id="followings-count" class="cursor-pointer">팔로잉 <b>{{person.followings.count}}</b></span></div>
        </div>
      </div>
    </div>
  </div>

  {% comment %} 좋아요 아이템 및 작성 포스트 목록 {% endcomment %}
  <div class="mx-auto max-w-7xl px-2 sm:px-6 lg:px-8 relative flex justify-end z-10">
    <div class="items-form border rounded-2xl my-28 p-5 flex flex-col">

      {% comment %} 내가 키우는 식물들 {% endcomment %}
      <div class="flex items-center gap-3 mb-5">
        <h2 class="text-[20px]"><b>My Plants</b></h2>
        <span class="text-gray-400 text-[18px]"><b>5</b></span>
        <a href="#" class="border rounded-md flex items-center justify-center p-1 hover:bg-gray-100">
          <span class="material-symbols-outlined">add</span>
        </a>
      </div>
      <div class="flex rounded-lg bg-gray-100 p-3 gap-8 mb-8">
        <a href="#">
          <div class="flex flex-col items-center gap-3">
            <div class="border rounded-md plants-image_wrapper">
              <img src="https://cdn.011st.com/11dims/resize/600x600/quality/75/11src/product/1483938250/B.jpg?145000000" alt="">
            </div>
            <p class="text-[14px]">유채꽃</p>
          </div>
        </a>
        <a href="#">
          <div class="flex flex-col items-center gap-3">
            <div class="border rounded-md plants-image_wrapper">
              <img src="https://static.hubzum.zumst.com/hubzum/2021/08/18/13/f8ee62528d6e4572b7115d3c70fe0f0b_780x733.jpg" alt="">
            </div>
            <p class="text-[14px]">스투키</p>
          </div>
        </a>
        <a href="#">
          <div class="flex flex-col items-center gap-3">
            <div class="border rounded-md plants-image_wrapper">
              <img src="https://huga.s3.ap-northeast-2.amazonaws.com/plantImages/1591179384681%E1%84%83%E1%85%B5%E1%84%89%E1%85%B5%E1%84%83%E1%85%B5%E1%84%8B%E1%85%A1%20%E1%84%8B%E1%85%A2%E1%84%91%E1%85%B3%E1%86%AF1%20.jpg" alt="">
            </div>
            <p class="text-[14px]">디시디아</p>
          </div>
        </a>
        <a href="#">
          <div class="flex flex-col items-center gap-3">
            <div class="border rounded-md plants-image_wrapper">
              <img src="https://openimage.interpark.com/goods_image_big/7/1/1/8/10195487118c_l.jpg" alt="">
            </div>
            <p class="text-[14px]">이끼</p>
          </div>
        </a>
      </div>

      <div class="flex justify-between gap-12">
        <div class="w-6/12">
          {% comment %} 좋아요한 식물 {% endcomment %}
          <div class="mb-5">
            <div class="flex items-center gap-3 mb-5">
              <h2 class="text-[20px]"><b>내가 좋아요한 '식물'</b></h2>
              <span class="text-gray-400 text-[18px]"><b>{{ person.like_plants.all|length }}</b></span>
            </div>
            <div class="flex gap-5">
              <div class="flex flex-col items-center gap-3">
                <div class="border rounded-md favor-plants_wrapper">
                  <img src="https://openimage.interpark.com/goods_image_big/7/1/1/8/10195487118c_l.jpg" alt="">
                </div>
                <p class="text-[14px]">유채꽃</p>
              </div>
            </div>
          </div>
          {% comment %} 좋아요한 식물원 {% endcomment %}
          <div class="mb-5">
            <div class="flex items-center gap-3 mb-5">
              <h2 class="text-[20px]"><b>내가 좋아요한 '식물원'</b></h2>
              <span class="text-gray-400 text-[18px]"><b>{{ person.like_gradens.all|length }}</b></span>
            </div>
            <div class="flex gap-5">
              <div class="flex flex-col items-center gap-3">
                <div class="border rounded-md favor-plants_wrapper">
                  <img src="https://openimage.interpark.com/goods_image_big/7/1/1/8/10195487118c_l.jpg" alt="">
                </div>
                <p class="text-[14px]">유채꽃</p>
              </div>
            </div>
          </div>
          {% comment %} 찜한 상품 {% endcomment %}
          <div>
            <div class="flex items-center gap-3 mb-5">
              <h2 class="text-[20px]"><b>내가 찜한 '상품'</b></h2>
              <span class="text-gray-400 text-[18px]"><b>{{ person.like_supply.all|length }}</b></span>
            </div>
            <div class="flex gap-5">
              <div class="flex flex-col items-center gap-3">
                <div class="border rounded-md favor-plants_wrapper">
                  <img src="https://openimage.interpark.com/goods_image_big/7/1/1/8/10195487118c_l.jpg" alt="">
                </div>
                <p class="text-[14px]">유채꽃</p>
              </div>
            </div>
          </div>
        </div>

        {% comment %} 내가 작성한 포스트 {% endcomment %}
        <div class="w-6/12">
          <div class="flex items-center gap-3 mb-5">
            <h2 class="text-[20px]"><b>My Posts</b></h2>
            <span class="text-gray-400 text-[18px]"><b>{{ person.community_set.all|length }}</b></span>
          </div>

          <div class="posts-container pe-3">
            {% for community in person.community_set.all %}
            <a href="{% url 'communities:detail' community.pk %}">
              <div class="flex gap-5 border rounded-lg p-2 mb-5">
                <div class="border rounded-md post-image_wrapper">
                  <img src="{{ community.community_photo.url }}" alt="">
                </div>
                <div class="flex flex-col justify-between w-full">
                  <div>
                    <p class="text-[12px] text-gray-400">커뮤니티</p>
                    <h3>{{ community.title }}</h3>
                  </div>
                  <div class="flex items-center justify-between">
                    <div class="flex items-center gap-4">
                      <div class="flex items-center gap-1">
                        <span class="material-symbols-outlined text-[16px]">favorite</span>
                        <p class="text-[12px]">{{ person.like_communities.all|length }}</p>
                      </div>
                      <div class="flex items-center gap-1">
                        <span class="material-symbols-outlined text-[16px]">chat_bubble</span>
                        <p class="text-[12px]">{{ community.community_comment_set.all|length }}</p>
                      </div>
                      <div class="flex items-center gap-1">
                        <span class="material-symbols-outlined text-[16px]">visibility</span>
                        <p class="text-[12px]">{{ community.hits }}</p>
                      </div>
                    </div>
                    <p class="text-[12px] text-gray-400">{{ community.created_at|date:'Y-m-d' }}</p>
                  </div>
                </div>
              </div>
            </a>
            {% endfor %}

          </div>
        </div>
      </div>
    </div>
  </div>
</main>


  {% comment %} 팔로우 modal {% endcomment %}
  <div class="relative z-30 modal-overlay" aria-labelledby="modal-title" role="dialog" aria-modal="true" id="followers-modal">
    <div class="fixed inset-0 bg-gray-500 bg-opacity-75 transition-opacity"></div>
    <div class="fixed inset-0 z-10 overflow-y-auto">
      <div class="flex min-h-full items-end justify-center p-4 text-center sm:items-center sm:p-0">
        <div class="relative transform overflow-hidden rounded-lg bg-white text-left shadow-xl transition-all sm:my-8 sm:w-full sm:max-w-lg">
          <div class="bg-white px-4 pb-4 pt-5 sm:p-6 sm:pb-4">
            <div class="sm:flex sm:items-start">
              <div class="mt-3 text-center sm:ml-4 sm:mt-0 sm:text-left">
                <h3 class="text-base font-semibold leading-6 text-gray-900" id="modal-title">팔로우</h3>
                <div class="mt-2 mb-4">
                  <p class="text-sm text-gray-500">Are you sure you want to deactivate your account? All of your data will be permanently removed. This action cannot be undone.</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

{% endblock content %}


{% block script %}
<script src="{% static 'js/profileEditDropdown.js' %}"></script>
<script src="{% static 'js/profileFollowerModal.js' %}"></script>
<script src="{% static 'js/accounts_profile_follow.js' %}"></script>
{% endblock script %}
