{% extends 'base.html' %}
{% load static %}
{% block content %}

{% block banner %}
<div class='title--username'>
  {% if request.user.username == person.username %}
  <h3>{{person.username}} 마이페이지</h3>
  {% else %}
  <h3>{{person.username}} 프로필</h3>
  {% endif %}
</div>
{% endblock banner %}

<div class="container">
    <div class="row">
    <div class="d-flex flex-column flex-md-row-reverse">
      <div class="col-12 col-md-5 col-lg-4 ">
        <div class="container" id='profile-box'>
          <img src=""  alt="profile">
          {% comment %} 프로필 수정 + 프로필 이미지 {% endcomment %}
          {% if person.image %}
            {% if request.user.username == person.username %}
              <a href="{% url 'accounts:update' %}">
                <img src="{{person.image.url}}" alt="profile">
                <i class="bi bi-pencil-square profile--image--icon"></i>
              </a>
            {% else %}
              <img src="{{person.image.url}}" alt="profile">
            {% endif %}
            {% else %}
              {% if request.user.username == person.username %}
                <a href="{% url 'accounts:update' %}">
                  <img src="" class="" alt="no-profile">
                </a>
              {% else %}
              <img src="" class="" alt="no-profile">
              {% endif %}
          {% endif %}
          {% comment %} 팔로워 {% endcomment %}
            <div class="profile--bottom text-center">
              <div class='mt-5'>
                <p class='my-2'>{{ person.username }}</p>
                {% if request.user != person %}
                  <form id="follow-form" data-user-id="{{person.pk}}">
                    {% csrf_token %}
                    {% if request.user in person.folloers.all %}
                      <input type="submit" value="Unfollow" class="button--reversecolor rounded btn-hover__reverseblue text-center p-1">
                    {% else %}
                      <input type="submit" value="Follow" class="button--reversecolor rounded btn-hover__reverseblue text-center p-1">
                    {% endif %}
                  </form>
                {% endif %} 
  
                <div class='d-flex mt-2 justify-content-evenly'>
                  <p>팔로잉</p>
                  <p>팔로워</p>
                </div>
                <div class='d-flex mt-2 mb-4 justify-content-evenly'>
                  <p id="followings-count">{{person.followings.count}}</p>
                  <p id='followers-count'>{{person.followers.count}}</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      {% comment %} </div> {% endcomment %}
  

        <h5>내가 쓴 커뮤니티 글</h5>
        <table class='table'>
          <thead>
            <tr>
              <th>제목</th>
              <th>커뮤니티 글</th>
            </tr>
          </thead>
          <tbody>
            {% for community in communities %}
              
                <td>{{community.title}}</td>
                <td>{{community.content}}</td>
             
            {% endfor %}
          </tbody>
      </table>
  

      {% comment %} community_likes {% endcomment %}
      <h5>좋아요한 커뮤니티 글</h5>

        {% for community in person.like_communities.all  %}
        <div class='card--border card--border--gray'>
          <a href="{% url 'communities:detail' communitiy.pk %}">
            <img src="{{ communities.image.url}}" class='card--border__image rounded' alt="{{ community.title }}의 이미지">  
            <div class='card--name--box'>
              <strong class='card--name'>{{ community.title }}</strong>
            </div>
            <div class='card--tag--border'>
              <p>조회수 {{ community.hits }}</p>
              <p>리뷰 {{ community.comment_set.count }}</p>
            </div>
            </a>  
          </div>
          {% endfor %}
        </div>
      </div>
    </div>
  </div>

{% endblock content %}
