{% extends 'base.html' %}
{% load static %}


{% block head %}
<link rel="stylesheet" href="{% static 'css/profile.css' %}">
{% endblock head %}


{% block content %}
<main>
  <div class="profile-banner_wrapper">
    <img src="{% static 'img/profile_banner.jpg' %}" alt="">
  </div>
  <div class="mx-auto max-w-7xl px-2 sm:px-6 lg:px-8 relative z-30">
    <div class="flex absolute top-[-40px] gap-10 w-full">
      <div class="profile-image_wrapper rounded-full border border-[#1EB564]">
        {% if person.image %}
          <img src="{{ person.image.url }}" alt="profile">
        {% else %}
          <img src="{% static 'img/no_profile.jpg' %}" alt="">
        {% endif %}
      </div>
      <div class="info-form">
        <div class="flex items-center gap-5">
          {% comment %} <div>{{ user_title.name }}</div> {% endcomment %}
          <div class="bg-white text-[#1EB564] p-1 px-2 rounded-md"><b>🌱뉴비</b></div>
          <div><b>포인트: {{ person.user_profile.points }}P</b></div>
        </div>
        <div class="mt-4 w-full">
          <div class="flex items-center justify-between w-full">
            <div class="flex gap-5 items-center">
              <h1 class="text-[22px]"><b>{{ person.username }}</b></h1>
              {% if request.user != person %}
              <form id="follow-form" data-user-id="{{ person.pk }}" class="rounded-md bg-[#1EB564] text-white text-[14px] p-1 px-2 me-5">
                {% csrf_token %}
                {% if request.user in person.followers.all %}
                  <input type="submit" value="언팔로우" class="cursor-pointer">
                {% else %}
                  <input type="submit" value="팔로우" class="cursor-pointer">
                {% endif %}
              </form>
              {% endif %}
            </div>

            {% if request.user == person %}
            <div class="relative">
              {% comment %} 수정 및 탈퇴 메뉴버튼 {% endcomment %}
              <div>
                  <button type="button" class="border flex rounded-md bg-white p-1 hover:bg-gray-100" id="log-menu-button" aria-expanded="false" aria-haspopup="true">
                      <span class="sr-only">Open user menu</span>
                      <span class="material-symbols-outlined">more_horiz</span>
                  </button>
              </div>
  
              {% comment %} 회원정보수정, 비밀번호 변경, 탈퇴 드롭다운 {% endcomment %}
              <div class="absolute right-0 z-10 mt-2 w-36 origin-top-right rounded-md bg-white py-1 shadow-lg ring-1 ring-black ring-opacity-5 focus:outline-none" role="menu" aria-orientation="vertical" aria-labelledby="log-menu-button" tabindex="-1" id="log-dropdown" style="display: none;">
                <a href="{% url 'accounts:update' %}" class="block px-4 py-2 text-sm text-gray-700 hover:bg-gray-100" role="menuitem" tabindex="-1" id="log-menu-item-0">회원정보 수정</a>
                <a href="{% url 'accounts:change_password' %}" class="block px-4 py-2 text-sm text-gray-700 hover:bg-gray-100" role="menuitem" tabindex="-1" id="log-menu-item-1">비밀번호 수정</a>
                <form action="{% url 'accounts:delete' %}" method="POST">
                  {% csrf_token %}
                  <input type="submit" class="block px-4 py-2 text-sm text-gray-700 hover:bg-gray-100 w-full text-start cursor-pointer" role="menuitem" tabindex="-1" id="log-menu-item-2" value="회원탈퇴" onclick="return confirm('삭제 하시겠습니까?')" >
                </form>
                <a href="{% url 'accounts:logout' %}" class="block px-4 py-2 text-sm text-gray-700 hover:bg-gray-100" role="menuitem" tabindex="-1" id="log-menu-item-3">로그아웃</a>
              </div>
            </div>
            {% endif %} 
          </div>
          <h2 class="text-[14px] text-gray-400">{{ person.email }}</h2>
          <div class="text-[16px] mt-1">팔로우 <b><span id="followers-count" class="cursor-pointer">{{ person.followers.count }}</span></b> · 팔로잉 <b><span id="followings-count" class="cursor-pointer">{{ person.followings.count }}</span></b></div>
        </div>
      </div>
    </div>
  </div>

  {% comment %} 좋아요 아이템 및 작성 포스트 목록 {% endcomment %}
  <div class="mx-auto max-w-7xl px-2 sm:px-6 lg:px-8 relative flex justify-end z-10">
    <div class="items-form border rounded-2xl my-28 p-5 flex flex-col">
      <div class="flex justify-between gap-12">
        <div class="w-6/12">
          {% comment %} 좋아요한 식물 {% endcomment %}
          <div class="mb-5">
            <div class="flex items-center gap-3 mb-5">
              <h2 class="text-[20px]"><b>내가 좋아요한 '식물'</b></h2>
              <span class="text-gray-400 text-[18px]"><b>{{ person.like_plants.all|length }}</b></span>
            </div>
            {% if person.like_plants.all %}
            <div class="slider-container">
              <div class="inner-slider flex gap-5">
                {% for plant in person.like_plants.all %}
                <a href="#">
                  <div class="flex flex-col items-center gap-3">
                    <div class="border rounded-md favor-plants_wrapper">
                      <img src="https://openimage.interpark.com/goods_image_big/7/1/1/8/10195487118c_l.jpg" alt="">
                    </div>
                    <p class="text-[14px]">{{ plant.title }}</p>
                  </div>
                </a>
                {% endfor %}
              </div>
            </div>
            {% else %}
            <div class="bg-gray-100 rounded-xl w-full h-28 flex items-center justify-center text-gray-400">좋아요한 식물이 없어요.</div>
            {% endif %}
          </div>
          {% comment %} 좋아요한 식물원 {% endcomment %}
          <div class="mb-5">
            <div class="flex items-center gap-3 mb-5">
              <h2 class="text-[20px]"><b>내가 좋아요한 '식물원'</b></h2>
              <span class="text-gray-400 text-[18px]"><b>{{ person.like_gradens.all|length }}</b></span>
            </div>
            {% if person.like_gradens.all %}
            <div class="slider-container">
              <div class="inner-slider flex gap-5">
                {% for garden in person.like_gradens.all %}
                <a href="#">
                  <div class="flex flex-col items-center gap-3">
                    <div class="border rounded-md favor-plants_wrapper">
                      <img src="https://openimage.interpark.com/goods_image_big/7/1/1/8/10195487118c_l.jpg" alt="">
                    </div>
                    <p class="text-[14px]">{{ garden.title }}</p>
                  </div>
                </a>
                {% endfor %}
              </div>
            </div>
            {% else %}
            <div class="bg-gray-100 rounded-xl w-full h-28 flex items-center justify-center text-gray-400">좋아요한 식물원이 없어요.</div>
            {% endif %}
          </div>
          {% comment %} 찜한 상품 {% endcomment %}
          <div>
            <div class="flex items-center gap-3 mb-5">
              <h2 class="text-[20px]"><b>내가 찜한 '상품'</b></h2>
              <span class="text-gray-400 text-[18px]"><b>{{ person.like_supply.all|length }}</b></span>
            </div>
            {% if person.like_supply.all %}
            <div class="slider-container">
              <div class="inner-slider flex gap-5">
                {% for supply in person.like_supply.all %}
                <a href="#">
                  <div class="flex flex-col items-center gap-3">
                    <div class="border rounded-md favor-plants_wrapper">
                      <img src="https://openimage.interpark.com/goods_image_big/7/1/1/8/10195487118c_l.jpg" alt="">
                    </div>
                    <p class="text-[14px]">{{ supply.supply_name }}</p>
                  </div>
                </a>
                {% endfor %}
              </div>
            </div>
            {% else %}
            <div class="bg-gray-100 rounded-xl w-full h-28 flex items-center justify-center text-gray-400">찜한 상품이 없어요.</div>
            {% endif %}
          </div>
        </div>

        {% comment %} 내가 작성한 포스트 {% endcomment %}
        <div class="w-6/12">
          <div class="flex items-center gap-3 mb-5">
            <h2 class="text-[20px]"><b>My Posts</b></h2>
            <span class="text-gray-400 text-[18px]"><b>{{ person.community_set.all|length }}</b></span>
          </div>

          {% if person.community_set.all %}
          <div class="posts-container pe-3">
            {% for community in person.community_set.all %}
            <a href="{% url 'communities:detail' community.pk %}">
              <div class="flex gap-5 border rounded-lg p-2 mb-5">
                <div class="border rounded-md post-image_wrapper">
                  <img src="{{ community.community_photo.url }}" alt="">
                </div>
                <div class="flex flex-col justify-between w-full">
                  <div>
                    <p class="text-[12px] text-gray-400">커뮤니티</p>
                    <h3>{{ community.title }}</h3>
                  </div>
                  <div class="flex items-center justify-between">
                    <div class="flex items-center gap-4">
                      <div class="flex items-center gap-1">
                        <span class="material-symbols-outlined text-[16px]">favorite</span>
                        <p class="text-[12px]">{{ person.like_communities.all|length }}</p>
                      </div>
                      <div class="flex items-center gap-1">
                        <span class="material-symbols-outlined text-[16px]">chat_bubble</span>
                        <p class="text-[12px]">{{ community.community_comment_set.all|length }}</p>
                      </div>
                      <div class="flex items-center gap-1">
                        <span class="material-symbols-outlined text-[16px]">visibility</span>
                        <p class="text-[12px]">{{ community.hits }}</p>
                      </div>
                    </div>
                    <p class="text-[12px] text-gray-400">{{ community.created_at|date:'Y-m-d' }}</p>
                  </div>
                </div>
              </div>
            </a>
            {% endfor %}
          </div>
          {% else %}
          <div class="posts-container pe-3 bg-gray-100 rounded-xl flex items-center justify-center text-gray-400">작성한 포스트가 없어요.</div>
          {% endif %}
        </div>
      </div>
    </div>
  </div>
</main>


{% comment %} 팔로우 modal {% endcomment %}
<div class="relative z-30 modal-overlay" aria-labelledby="modal-title" role="dialog" aria-modal="true" id="followers-modal">
  <div class="fixed inset-0 bg-gray-500 bg-opacity-75 transition-opacity" id="followers-bg"></div>
  <div class="fixed top-1/2 start-1/2 -translate-x-1/2 -translate-y-1/2 transform overflow-hidden rounded-lg bg-white text-left shadow-xl transition-all sm:my-8 sm:w-full sm:max-w-lg">
    <div class="bg-white px-4 pb-4 pt-5 sm:p-6 sm:pb-4">
      <div class="sm:flex sm:items-start w-full">
        <div class="mt-3 text-center sm:mt-0 sm:text-left w-full">
          <h3 class="text-base font-semibold leading-6 text-gray-900 mb-3" id="modal-title">팔로우 <span class="text-gray-500">{{ person.followers.all|length }}</span></h3>
          <div class="mt-2 mb-4 w-full h-64 overflow-auto">
            {% for follower in person.followers.all %}
            <a href="{% url 'accounts:profile' follower.username %}">
              <div class="flex gap-5 items-center w-full bg-gray-100 rounded-lg p-2 mb-3">
                <div class="overflow-hidden w-8 h-8 rounded-full">
                  {% if follower.image %}
                  <img src="{{ follower.image.url }}" alt="">
                  {% else %}
                  <img src="{% static 'img/no_profile.jpg' %}" alt="">
                  {% endif %}
                </div>
                <p class="text-[14px]">{{ follower.username }}</p>
              </div>
            </a>
            {% endfor %}
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


{% comment %} 팔로잉 modal {% endcomment %}
<div class="relative z-30 modal-overlay" aria-labelledby="modal-title" role="dialog" aria-modal="true" id="followings-modal">
  <div class="fixed inset-0 bg-gray-500 bg-opacity-75 transition-opacity" id="followings-bg"></div>
  <div class="fixed top-1/2 start-1/2 -translate-x-1/2 -translate-y-1/2 transform overflow-hidden rounded-lg bg-white text-left shadow-xl transition-all sm:my-8 sm:w-full sm:max-w-lg">
    <div class="bg-white px-4 pb-4 pt-5 sm:p-6 sm:pb-4">
      <div class="sm:flex sm:items-start w-full">
        <div class="mt-3 text-center sm:mt-0 sm:text-left w-full">
          <h3 class="text-base font-semibold leading-6 text-gray-900 mb-3" id="modal-title">팔로잉 <span class="text-gray-500">{{ person.followings.all|length }}</span></h3>
          <div class="mt-2 mb-4 w-full h-64 overflow-auto">
            {% for following in person.followings.all %}
            <a href="{% url 'accounts:profile' following.username %}">
              <div class="flex gap-5 items-center w-full bg-gray-100 rounded-lg p-2 mb-3">
                <div class="overflow-hidden w-8 h-8 rounded-full">
                  {% if following.image %}
                  <img src="{{ following.image.url }}" alt="">
                  {% else %}
                  <img src="{% static 'img/no_profile.jpg' %}" alt="">
                  {% endif %}
                </div>
                <p class="text-[14px]">{{ following.username }}</p>
              </div>
            </a>
            {% endfor %}
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock content %}


{% block script %}
<script src="{% static 'js/profileEditDropdown.js' %}"></script>
<script src="{% static 'js/profileCarousel.js' %}"></script>
<script src="{% static 'js/profileFollowerModal.js' %}"></script>
<script src="{% static 'js/accounts_profile_follow.js' %}"></script>
{% endblock script %}
