{% extends 'base.html' %}
{% load static %}
{% load humanize %}


{% block head %}
<title>홈</title>
<link rel="stylesheet" href="{% static 'css/home.css' %}">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.2.1/assets/owl.carousel.min.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.2.1/assets/owl.theme.default.min.css">
{% endblock head %}


{% block content %}
<main>
    <div class="sm:hidden h-14 px-4 flex items-center">
        <div class="flex flex-shrink-0 items-center gap-4">
            <img class="h-8 w-auto" src="{% static 'img/logo.svg' %}" alt="Your Company">
            <p class="text-xl h-8 w-auto"><b>무럭무럭</b></p>
        </div>
    </div>
    {% comment %} 캐로젤 {% endcomment %}
    <div class="slider-1 h-[230px] sm:h-min overflow-hidden border-0 border-b-[1px]">
        <div class="owl-carousel owl-theme">
            <div class="item" style="background-image:url({% static 'img/carousel_3.jpg' %});">
                <div class="txt-box">
                    <h1 class="text-[30px] sm:text-[48px]"><b>공기정화 식물로 싱그러운 생활</b></h1>
                    <h2 class="mt-2">공기정화와 인테리어를 한 번에</h2>
                    <div>

                    </div>
                </div>
            </div>
            <div class="item" style="background-image:url({% static 'img/carousel_1.jpg' %});">
                <div class="txt-box">
                    <h1><b><a href="{% url 'gardens:index' %}">힐링 핫플레이스</a></b></h1>
                    <h2 class="mt-2">모든 정보를 한 번에</h2>
                    <div>
                        
                    </div>
                </div>
            </div>
            <div class="item" style="background-image:url({% static 'img/carouselsales.png' %});">
                <div class="txt-box">
                    <h1><b><a href="{% url 'sales:index' %}">그린샵</a></b></h1>
                    <h2 class="mt-2"></h2>
                    <div>
        
                    </div>
                </div>
            </div>
            <div class="item" style="background-image:url({% static 'img/carouselcares.jpg' %});">
                <div class="txt-box">
                    <h1><b class="text-white"><a href="{% url 'managements:index' %}">식물관리일지</a></b></h1>
                    <h2 class="text-white class="mt-2"">초보 가드너를 위한</h2>
                    <div class="text-white">
                        무럭무럭만의 관리 서비스
                    </div>
                </div>
            </div>
            <div class="item" style="background-image:url({% static 'img/homekakao.png' %});">
                <div class="txt-box">
                    <h1><b></b></h1>
                    <h2></h2>
                    <div>
                        
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="flex flex-col-reverse sm:flex-col">
        {% comment %} 식물 컬렉션 {% endcomment %}
        <section class="pt-6 pb-10">
            <div class="mx-auto max-w-7xl px-2 sm:px-6 lg:px-8">
                <h2 class="text-center mb-3 text-[18px] sm:hidden"><b>식물 모음</b></h2>
                <div class="grid grid-cols-2 sm:grid-cols-4 gap-3 sm:gap-5">
                    <a href="{% url 'plants:filter_plants' '따뜻한' %}">
                        <div class="flex flex-col justify-center sm:flex-row items-center gap-3 sm:gap-5 border rounded-md p-2 sm:p-3 w-full h-full hover:-translate-y-1.5 transform transition hover:shadow-md">
                            <div class="w-[56px] h-[65px] overflow-hidden">
                                <img src="{% static 'img/따뜻한.png' %}" alt="" class="w-full h-full object-cover">
                            </div>
                            <div>
                                <h3 class="text-center sm:text-start sm:text-[16px]"><b>따뜻한 느낌</b></h3>
                                <p class="text-[12px] hidden sm:block">삭막한 공간을<br>따뜻하게 만들어보세요.</p>
                            </div>
                        </div>
                    </a>
                    <a href="{% url 'plants:filter_plants' '공기정화' %}">
                        <div class="flex flex-col justify-center sm:flex-row items-center gap-3 sm:gap-5 border rounded-md p-2 sm:p-3 w-full h-full hover:-translate-y-1.5 transform transition hover:shadow-md">
                            <div class="w-[56px] h-[65px] overflow-hidden">
                                <img src="{% static 'img/청소그림.png' %}" alt="" class="w-full h-full object-cover">
                            </div>
                            <div>
                                <h3 class="text-center sm:text-start sm:text-[16px]"><b>공기 정화</b></h3>
                                <p class="text-[12px] hidden sm:block">플랜테리어와 가족의 건강을 <br>만족시킬 식물을 찾아보세요.</p>
                            </div>
                        </div>
                    </a>
                    <a href="{% url 'plants:filter_plants' '선물용' %}">
                        <div class="flex flex-col justify-center sm:flex-row items-center gap-3 sm:gap-5 border rounded-md p-2 sm:p-3 w-full h-full hover:-translate-y-1.5 transform transition hover:shadow-md">
                            <div class="w-[56px] h-[65px] overflow-hidden">
                                <img src="{% static 'img/선물그림.png' %}" alt="" class="w-full h-full object-cover">
                            </div>
                            <div>
                                <h3 class="text-center sm:text-start sm:text-[16px]"><b>선물용</b></h3>
                                <p class="text-[12px] hidden sm:block">집들이 및 이벤트를 위한 식물을<br>찾아보세요.</p>
                            </div>
                        </div>
                    </a>
                    <a href="{% url 'plants:filter_plants' '집중력향상' %}">
                        <div class="flex flex-col justify-center sm:flex-row items-center gap-3 sm:gap-5 border rounded-md p-2 sm:p-3 w-full h-full hover:-translate-y-1.5 transform transition hover:shadow-md">
                            <div class="w-[56px] h-[65px] overflow-hidden">
                                <img src="{% static 'img/집중.png' %}" alt="" class="w-full h-full object-cover">
                            </div>
                            <div>
                                <h3 class="text-center sm:text-start sm:text-[16px]"><b>집중력 향상</b></h3>
                                <p class="text-[12px] hidden sm:block">식물을 통해 스트레스는 줄이고<br>집중력은 높여보세요.</p>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
        </section>
    
        {% comment %} 이번 주의 식물 {% endcomment %}
        <section class="pt-6 pb-10">
            <div class="mx-auto max-w-7xl px-2 sm:px-6 lg:px-8">
                <div class="flex flex-col gap-8">
                    <div class="text-center flex flex-col items-center gap-3">
                        <h2 class="text-[18px] sm:text-[23px]"><b>이번 주의 식물</b></h2>
                        <p class="text-[14px] sm:text-[16px]">회원들이 좋아하는 식물을 알려드려요.</p>
                    </div>
                    <div class="grid grid-cols-3 gap-2 sm:gap-8">
                        {% for plant in popular_plants %}
                        <div class="flex flex-col gap-3 w-fit">
                            <a href="{% url 'plants:detail' plant.pk %}">
                                <div class="sm:w-[354px] sm:h-[250px] overflow-hidden border rounded-xl">
                                    <img src="{{ plant.plant_images.first.image.url }}" alt="" class="w-full h-full object-cover">
                                </div>
                                <div class="flex flex-col gap-2 sm:flex-row items-center justify-between px-3">
                                    <p class="text-[14px] sm:text-[18px] whitespace-nowrap overflow-hidden truncate w-24 sm:w-64 text-center sm:text-start"><b>{{ plant.title }}</b></p>
                                    <a href="{% url 'plants:detail' plant.pk %}">
                                        <div class="border rounded-md flex items-center justify-center items-center gap-1 p-1 px-2 hover:bg-gray-100">
                                            <span class="material-symbols-outlined text-[16px] mt-1">favorite</span>
                                            <p class="text-[12px]">{{ plant.like_users.count }}</p>
                                        </div>
                                    </a>
                                </div>
                            </a>
                        </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </section>
    </div>
    
    {% comment %} 식물관리 {% endcomment %}
    <section>
        <div class="h-fit bg-gray-100 py-16 sm:py-36">
            <div class="flex sm:flex-row flex-col gap-8 items-center justify-between mx-auto max-w-7xl px-2 sm:px-6 lg:px-8">
                <div class="flex flex-col gap-3 sm:gap-5">
                    <h2 class="text-[18px] sm:text-[36px] text-center sm:text-start"><b>여러분의 식물을 '관리'해보세요</b></h2>
                    <div class="flex flex-col gap-3 sm:gap-0 sm:flex-row justify-between items-center sm:items-end">
                        <p class="text-center sm:text-start text-[14px] sm:text-[18px] sm:font-semibold">식물 정보를 매칭시켜<br>식물에 대한 맞춤형 관리제공</p>
                        <a href="{% url 'managements:index' %}">
                            <p>더보기</p>
                        </a>
                    </div>
                </div>
            
                {% if latest_management %}
                    <a href="{% url 'managements:index' %}">
                        <div class="flex flex-col sm:items-start items-center gap-6">
                            <div class="border rounded-2xl overflow-hidden w-64 h-44 sm:w-[500px] sm:h-[300px]">
                                <img src="{{ latest_management.management_photo.url }}" alt="" class="w-full h-full object-cover">
                            </div>
                            <div class="flex justify-between items-center px-5">
                                <div class="flex items-center gap-5">
                                    <div class="h-8 w-8 rounded-full overflow-hidden">
                                        {% if request.user.image %}
                                            <img class="h-full w-full object-cover border-[0.5px] border-[#1EB564]" src="{{ request.user.image.url }}" alt="">
                                        {% else %}
                                            <img class="h-full w-full object-cover rounded-full border-[0.5px] border-[#1EB564]" src="{% static 'img/no_profile.jpg' %}" alt="">
                                        {% endif %}
                                    </div>
                                    <p class="text-[16px]"><b>{{ request.user.username }}님의 '{{ latest_management.nickname }}'</b></p>
                                </div>
                            </div>
                        </div>
                    </a>
                {% endif %}
                
            </div>
        </div>
    </section>

    {% comment %} 태그별 {% endcomment %}
    <section>
        <div class="flex flex-col my-16 mx-auto max-w-7xl px-2 sm:px-6 lg:px-8">
            <div class="text-center flex flex-col items-center gap-3 mb-8">
                <h2 class="text-[18px] sm:text-[23px]"><b>다양한 '태그'로 찾아보세요</b></h2>
                <p class="text-[14px] sm:text-[16px]">회원들이 좋아하는 식물을 알려드려요</p>
            </div>
            <div class="flex sm:justify-between justify-center gap-3 flex-wrap">
                {% for tag in recent_tags %}
                    <a href="{% url 'plants:filter_plants' tag %}">
                        <div class="border border-gray-400 rounded-full w-fit mb-3 p-1 px-2 sm:p-3 sm:px-10 sm:text-[18px] hover:bg-gray-100"><b># {{ tag }}</b></div>
                    </a>
                {% endfor %}
            </div>
        </div>
    </section>

    {% comment %} 식물원 추천 {% endcomment %}
    <section class="py-16 sm:py-36 bg-gray-100 flex flex-col items-center">
        <div class="mx-auto max-w-7xl px-2 sm:px-6 lg:px-8">
            <div class="flex flex-col gap-8">
                <div class="text-center flex flex-col items-center gap-3">
                    <h2 class="text-[18px] sm:text-[23px]"><b>식물원 추천</b></h2>
                    <p class="text-[14px] sm:text-[16px]">요즘가면 좋은 식물원을 추천해드려요.</p>
                    <a href="{% url 'gardens:index' %}">
                        <span class="text-[16px] text-gray-500 hover:text-black">바로가기</span>
                    </a>
                </div>
                <div class="flex sm:flex-row flex-col gap-5">
                    <div class="sm:w-9/12 bg-white rounded-xl p-5 flex sm:flex-row flex-col gap-5">
                        {% for garden in recommended_gardens %}
                        <a href="{% url 'gardens:detail' garden.pk %}">
                            <div class="garden-image_wrapper w-full h-full border rounded-lg">
                                <img src="{{ garden.image.url }}" alt="">
                            </div>
                        </a>
                        <div class="sm:w-1/2 h-full flex flex-col justify-between">
                            <a href="{% url 'gardens:detail' garden.pk %}">
                                <div class="flex flex-col gap-6">
                                    <div>
                                        <h3 class="text-[20px] mb-2"><b>{{ garden.title }}</b></h3>
                                        <p class="text-[14px]">{{ garden.address }}</p>
                                    </div>
                                    <p>{{ garden.content|striptags }}</p>
                                </div>
                            </a>
                            <div class="flex justify-end">
                                <a href="{% url 'gardens:detail' garden.pk %}">
                                    <div class="border rounded-md p-1 px-2 flex gap-2 w-fit hover:bg-gray-100">
                                        <span class="material-symbols-outlined">thumb_up</span>
                                        <p>{{ garden.like_users.count }}</p>
                                    </div>
                                </a>
                            </div>
                        </div>
                        {% endfor %}
                    </div>
                    <div class="w-full sm:w-3/12 bg-gray-200 p-5 sm:p-8 rounded-xl">
                        <h3 class="mb-3 sm:text-[20px] font-semibold">여기 어때요?</h3>
                        <div class="flex flex-col justify-between gap-2 sm:gap-5">
                            {% for i in additional_garden_links %}
                                {% if 2 < forloop.counter <= 7 %}
                                <a href="{% url 'gardens:detail' i.pk %}"><p class="text-[16px] sm:text-[20px] text-gray-400 hover:text-black"><b>{{ forloop.counter }}. {{ i.title }}</b></p></a>
                                {% endif %}
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    
    

    {% comment %} 판매상품 추천 {% endcomment %}
    <section class="py-16 sm:py-24">
        <div class="mx-auto max-w-7xl px-2 sm:px-6 lg:px-8">
            <div class="flex flex-col gap-8">
                <div class="text-center flex flex-col items-center gap-3">
                    <h2 class="text-[18px] sm:text-[23px]"><b>평가좋은 상품</b></h2>
                    <p class="text-[14px] sm:text-[16px]">식물을 키우는데 필요한 상품들이 여기 있어요.</p>
                    <a href="{% url 'sales:index' %}">
                        <span class="text-[16px] text-gray-500 hover:text-black">바로가기</span>
                    </a>
                </div>
                <div class="grid grid-cols-2 sm:grid-cols-4 gap-3 sm:gap-8">
                    {% for product in popular_product %}
                    <div class="flex flex-col gap-3 bg-gray-100 p-3 rounded-xl hover:bg-gray-200">
                        <a href="{% url 'sales:detail' product.pk %}">
                            <div class="bg-white w-full h-36 sm:h-56 mb-2 overflow-hidden border rounded-lg">
                                <img src="{{ product.photo.url }}" alt="" class="w-full h-full object-cover">
                            </div>
                            <div class="flex flex-col ps-3 gap-2 sm:gap-5">
                                <p class="text-[16px] sm:font-semibold">{{ product.title }}</p>
                                <p class="text-[16px] sm:text-[20px] font-semibold">{{ product.price|intcomma }}원</p>
                            </div>
                        </a>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </section>
</main>
{% endblock content %}
{{ room_name|json_script:"room-name" }}

{% block script %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.2.1/owl.carousel.min.js"></script>
    <script src="{% static 'js/homeCarousel.js' %}"></script>
{% endblock script %}