{% extends 'base.html' %}
{% load static %}


{% block head %}
<title>홈</title>
<link rel="stylesheet" href="{% static 'css/home.css' %}">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.2.1/assets/owl.carousel.min.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.2.1/assets/owl.theme.default.min.css">
{% endblock head %}


{% block content %}
<main>
    {% comment %} 캐로젤 {% endcomment %}
    <div class="slider-1">
        <div class="owl-carousel owl-theme">
            <div class="item" style="background-image:url({% static 'img/carousel_1.jpg' %});">
                <div class="txt-box">
                    <h1><b>공기정화 식물로 싱그러운 생활</b></h1>
                    <h2>공기정화와 인테리어를 한 번에</h2>
                    <div>
                        내용1
                    </div>
                </div>
            </div>
            <div class="item" style="background-image:url({% static 'img/carousel_2.jpg' %});">
                <div class="txt-box">
                    <h1><b>큰 제목2</b></h1>
                    <h2>중간 제목2</h2>
                    <div>
                        내용2
                    </div>
                </div>
            </div>
            <div class="item" style="background-image:url({% static 'img/carousel_3.jpg' %});">
                <div class="txt-box">
                    <h1><b>큰 제목3</b></h1>
                    <h2>중간 제목3</h2>
                    <div>
                        내용3
                    </div>
                </div>
            </div>
            <div class="item" style="background-image:url({% static 'img/carousel_4.jpg' %});">
                <div class="txt-box">
                    <h1><b>큰 제목4</b></h1>
                    <h2>중간 제목4</h2>
                    <div>
                        내용4
                    </div>
                </div>
            </div>
            <div class="item" style="background-image:url({% static 'img/carousel_5.jpg' %});">
                <div class="txt-box">
                    <h1><b>큰 제목5</b></h1>
                    <h2>중간 제목5</h2>
                    <div>
                        내용5
                    </div>
                </div>
            </div>
        </div>
    </div>

    {% comment %} 식물 컬렉션 {% endcomment %}
    <section class="py-10">
        <div class="mx-auto max-w-7xl px-2 sm:px-6 lg:px-8">
            <div class="flex justify-between">
                <a href="#">
                    <div class="flex items-center gap-5 border rounded-md p-3 w-full hover:-translate-y-1.5 transform transition hover:shadow-md">
                        <div class="collection-image_wrapper">
                            <img src="{% static 'img/선물그림.png' %}" alt="">
                        </div>
                        <div>
                            <h3><b>선물용 식물 모음</b></h3>
                            <p class="text-[12px]">집들이 및 이벤트를 위한 식물을<br>찾아보세요.</p>
                        </div>
                    </div>
                </a>
                <a href="#">
                    <div class="flex items-center gap-5 border rounded-md p-3 w-full hover:-translate-y-1.5 transform transition hover:shadow-md">
                        <div class="collection-image_wrapper">
                            <img src="{% static 'img/청소그림.png' %}" alt="">
                        </div>
                        <div>
                            <h3><b>공기정화 식물 모음</b></h3>
                            <p class="text-[12px]">플랜테리어와 가족의 건강을 <br>만족시킬 식물을 찾아보세요.</p>
                        </div>
                    </div>
                </a>
                <a href="#">
                    <div class="flex items-center gap-5 border rounded-md p-3 w-full hover:-translate-y-1.5 transform transition hover:shadow-md">
                        <div class="collection-image_wrapper">
                            <img src="{% static 'img/선물그림.png' %}" alt="">
                        </div>
                        <div>
                            <h3><b>선물용 식물 모음</b></h3>
                            <p class="text-[12px]">집들이 및 이벤트를 위한 식물을<br>찾아보세요.</p>
                        </div>
                    </div>
                </a>
                <a href="#">
                    <div class="flex items-center gap-5 border rounded-md p-3 w-full hover:-translate-y-1.5 transform transition hover:shadow-md">
                        <div class="collection-image_wrapper">
                            <img src="{% static 'img/선물그림.png' %}" alt="">
                        </div>
                        <div>
                            <h3><b>선물용 식물 모음</b></h3>
                            <p class="text-[12px]">집들이 및 이벤트를 위한 식물을<br>찾아보세요.</p>
                        </div>
                    </div>
                </a>
            </div>
        </div>
    </section>

    {% comment %} 이번 주의 식물 {% endcomment %}
    <section class="pt-3 pb-10">
        <div class="mx-auto max-w-7xl px-2 sm:px-6 lg:px-8">
          <div class="flex flex-col gap-8">
            <div class="text-center">
              <h2 class="text-[20px]"><b>이번 주의 식물</b></h2>
              <p>회원들이 좋아하는 식물을 알려드려요.</p>
            </div>
            <div class="grid grid-cols-3 gap-8">
              {% for plant in popular_plants %}
              <div class="flex flex-col gap-3">
                <a href="{% url 'plants:detail' plant.pk %}">
                  <div class="favor-image_wrapper border rounded-2xl">
                    <img src="{{ plant.plant_images.first.image.url }}" alt="">
                  </div>
                  <div class="flex items-center justify-between px-3">
                    <p class="text-[18px]"><b>{{ plant.title }}</b></p>
                    <a href="{% url 'plants:detail' plant.pk %}">
                      <div class="border rounded-md flex items-center justify-center items-center gap-1 p-1 px-2 hover:bg-gray-100">
                        <span class="material-symbols-outlined text-[16px] mt-1">favorite</span>
                        <p class="text-[12px]">{{ plant.like_users.count }}</p>
                      </div>
                    </a>
                  </div>
                </a>
              </div>
              {% endfor %}
            </div>
          </div>
        </div>
      </section>
      

    {% comment %} 커뮤니티 {% endcomment %}
    <section class="pb-32">
        <div class="h-3/6 bg-gray-200">
            <div class="relative flex justify-between mx-auto max-w-7xl px-2 sm:px-6 lg:px-8">
                <div class="flex gap-5 pt-32 pb-16">
                    <div class="community-image_wrapper border rounded-xl">
                        <a href="#">
                            <img src="https://tgzzmmgvheix1905536.cdn.ntruss.com/2021/01/4dd0305b502d4f7a8f91891d9e4f5371" alt="">
                        </a>
                    </div>
                    <div class="community-image_wrapper border rounded-xl">
                        <a href="#">
                            <img src="https://cdn.aitimes.com/news/photo/202203/143552_148724_2323.jpg" alt="">
                        </a>
                    </div>
                    <div class="community-image_wrapper border rounded-xl">
                        <a href="#">
                            <img src="https://www.sisain.co.kr/news/photo/202208/48282_87456_336.jpg" alt="">
                        </a>
                    </div>
                </div>
            
                {% for management in request.user.management_set.all %}
                <div class="absolute right-10 mt-32 w-5/12 flex flex-col gap-6">
                    <a href="{% url 'managements:index' %}">
                        <div class="community-image_wrapper2 border rounded-3xl w-full h-72">
                            <img src="{{ management.management_photo.url }}" alt="">
                        </div>
                        <div class="flex justify-between items-center px-5">
                            <div class="flex items-center gap-5">
                                <button type="button" class="flex rounded-full bg-gray-800 text-sm" id="user-menu-button" aria-expanded="false" aria-haspopup="true" onclick="dp_menu()">
                                    <span class="sr-only">Open user menu</span>
                                    {% if request.user.image %}
                                        <img class="h-8 w-8 rounded-full border-[0.5px] border-[#1EB564]" src="{{ request.user.image.url }}" alt="">
                                    {% else %}
                                        <img class="h-8 w-8 rounded-full border-[0.5px] border-[#1EB564]" src="{% static 'img/no_profile.jpg' %}" alt="">
                                    {% endif %}
                                </button>
                                <p class="text-[16px]"><b>User님의 '{{ management.nickname }}'</b></p>
                            </div>
                            <a href="{% url 'managements:index' %}">
                                <div class="border rounded-md p-1 px-2 flex gap-2 hover:bg-gray-100">
                                    <span class="material-symbols-outlined">thumb_up</span>
                                </div>
                            </a>
                        </div>
                    </a>
                </div>
                {% endfor %}
                
            </div>
        </div>
        <div class="h-3/6 flex flex-col gap-3 mt-10 mx-auto max-w-7xl px-2 sm:px-6 lg:px-8">
            <h2 class="text-[36px]"><b>여러분의 식물을 보여주세요</b></h2>
            <div class="flex justify-between items-end w-5/12">
                <p class="text-[20px]"><b>식물 정보부터 판매, 관리까지<br>식물에 대한 다양한 서비스</b></p>
                <a href="{% url 'gardens:index' %}">
                    <p>더보기</p>
                </a>
            </div>
        </div>

        {% comment %} 태그별 {% endcomment %}
        <div class="flex justify-between mt-16 mx-auto max-w-7xl px-2 sm:px-6 lg:px-8">
            {% for tag in recent_tags %}
                <a href="{% url 'plants:filter_plants' tag %}">
                    <div class="border border-gray-400 rounded-full w-fit p-3 px-10 text-[18px] hover:bg-gray-100"><b># {{ tag }}</b></div>
                </a>
            {% endfor %}
        </div>
        
    </section>

    {% comment %} 식물원 추천 {% endcomment %}
    <section class="py-36 bg-gray-100 flex flex-col items-center">
        <div class="mx-auto max-w-7xl px-2 sm:px-6 lg:px-8">
            <div class="flex flex-col gap-8">
                <div class="text-center">
                    <h2 class="text-[20px]"><b>식물원 추천</b></h2>
                    <p class="mb-3">요즘가면 좋은 식물원을 추천해드려요.</p>
                    <a href="{% url 'gardens:index' %}">
                        <span class="text-[16px] text-gray-500 hover:text-black">바로가기</span>
                    </a>
                </div>
                <div class="flex gap-5">
                    <div class="w-9/12 bg-white rounded-3xl p-5 flex gap-5">
                        {% for garden in recommended_gardens %}
                        <a href="{% url 'gardens:detail' garden.pk %}">
                            <div class="garden-image_wrapper w-full h-full border rounded-xl">
                                <img src="{{ garden.image.url }}" alt="">
                            </div>
                        </a>
                        <div class="w-1/2 h-full flex flex-col justify-between">
                            <div class="flex justify-end">
                                <a href="{% url 'gardens:detail' garden.pk %}">
                                    <div class="border rounded-full flex items-center justify-center w-fit p-2 hover:bg-gray-100">
                                        <span class="material-symbols-outlined">bookmark</span>
                                    </div>
                                </a>
                            </div>
                            <a href="{% url 'gardens:detail' garden.pk %}">
                                <div class="flex flex-col gap-6">
                                    <h3 class="text-[20px]"><b>{{ garden.title }}</b></h3>
                                    {{ garden.content|striptags }}
                                </div>
                            </a>
                            <div class="flex justify-end">
                                <a href="{% url 'gardens:detail' garden.pk %}">
                                    <div class="border rounded-md p-1 px-2 flex gap-2 w-fit hover:bg-gray-100">
                                        <span class="material-symbols-outlined">thumb_up</span>
                                        <p>{{ garden.like_users.count }}</p>
                                    </div>
                                </a>
                            </div>
                        </div>
                        {% endfor %}
                    </div>
                    <div class="w-3/12 bg-gray-200 p-8 rounded-3xl flex flex-col justify-between">
                        {% for i in additional_garden_links %}
                            {% if 2 < forloop.counter <= 7 %}
                            <a href="{% url 'gardens:detail' i.pk %}"><p class="text-[20px] text-gray-400 hover:text-black"><b>{{ i.title }}</b></p></a>
                            {% endif %}
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </section>
    
    

    {% comment %} 판매상품 추천 {% endcomment %}
    <section class="py-24">
        <div class="mx-auto max-w-7xl px-2 sm:px-6 lg:px-8">
            <div class="flex flex-col gap-8">
                <div class="text-center">
                    <h2 class="text-[20px]"><b>평가좋은 상품</b></h2>
                    <p class="mb-3">식물을 키우는데 필요한 상품들이 여기 있어요.</p>
                    <a href="{% url 'sales:index' %}">
                        <span class="text-[16px] text-gray-500 hover:text-black">바로가기</span>
                    </a>
                </div>
                <div class="flex justify-between">
                    {% for product in popular_product %}
                    <div class="flex flex-col gap-3 bg-gray-100 p-3 rounded-2xl hover:bg-gray-200">
                        <a href="#">
                            <div class="sale-image_wrapper border rounded-xl">
                                <img src="{{ product.photo.url }}" alt="">
                            </div>
                            <div class="flex flex-col ps-3 gap-5">
                                <p class="text-[16px]"><b>{{ product.title }}</b></p>
                                <div class="flex justify-between items-center">
                                    <p class="text-[20px]"><b>{{ product.price }}원</b></p>
                                    <a href="#">
                                        <div class="rounded-full flex items-center justify-center items-center gap-1 p-1 px-3 hover:bg-gray-100">
                                            <span class="material-symbols-outlined text-[16px] mt-1">favorite</span>
                                            <p class="text-[12px]">{{ product.num_likes }}</p>
                                        </div>
                                    </a>
                                </div>
                            </div>
                        </a>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </section>
</main>
{% endblock content %}
{{ room_name|json_script:"room-name" }}

{% block script %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.2.1/owl.carousel.min.js"></script>
    <script src="{% static 'js/homeCarousel.js' %}"></script>
{% endblock script %}