{% extends 'base.html' %}
{% load static %}


{% block head %}
<title>무럭무럭</title>
<link rel="stylesheet" href="{% static 'css/main.css' %}">
{% endblock head %}


{% block content %}
<main>
    <section class="mx-auto max-w-7xl px-2 sm:px-6 lg:px-8 h-screen flex flex-col justify-center relative">
        <div class="sm:flex sm:items-center sm:justify-between mb-6">
            {% comment %} 서비스 타이틀 영역 {% endcomment %}
            <div>
                <div class="mx-2 sm:mx-0 flex items-center gap-3 mt-10 sm:mt-0 mb-5 sm:mb-[50px]">
                    <img src="{% static 'img/logo.svg' %}" alt="" class="w-10 h-10 sm:w-[67px] sm:h-[67px]">
                    <h1 class="text-[35px] sm:text-[50px]"><b>무럭무럭</b></h1>
                </div>
                <div class="mx-2 sm:mx-0 mb-8 sm:mb-16 sm:mb-[100px] flex flex-col gap-4">
                    <p class="text-[20px] sm:text-[45px]"><b>당신의 식물은 어떤가요?</b></p>
                    <p class="text-[16px] sm:text-[25px]"><b>식물 정보부터 판매, 관리까지<br>식물에 대한 다양한 서비스를 한 번에</b></p>
                </div>
                <div class="hidden sm:flex sm:flex-col sm:gap-5">
                    <div class="p-3 px-5 border rounded-xl shadow-md w-fit text-[20px]">🤔 언제 얼마나 물을 주어야 하지?</div>
                    <div class="ms-[25%] p-3 px-5 border rounded-xl shadow-md w-fit text-[20px]">괜찮은 식물을 추천받고 싶어요!! 🤔</div>
                    <div class="ms-[10%] p-3 px-5 border rounded-xl shadow-md w-fit text-[20px]">🤔 화분을 사고 싶은데 어떤 걸 사지?</div>
                </div>
            </div>
    
            {% comment %} 로그인 영역 {% endcomment %}
            <div class="relative h-[500px] sm:h-min w-full sm:w-4/12 flex flex-col items-center gap-8 justify-center border rounded-[30px] p-8 sm:px-[60px] sm:pb-[60px] shadow-lg">
                <img src="{% static 'img/watering_plant.png' %}" alt="" class="absolute top-[-100px] hidden sm:block">

                {% comment %} 이미 로그인 된 유저인지 검증 {% endcomment %}
                {% if request.user.is_authenticated %}
                <div class="sm:mt-[65%] w-full flex flex-col items-center gap-5">
                    <div class="rounded-full profile-image_wrapper border-[0.5px] border-[#1EB564]">
                        {% if request.user.image %}
                            <img src="{{ request.user.image.url }}" alt="">
                        {% else %}
                            <img src="{% static 'img/no_profile.jpg' %}" alt="">
                        {% endif %}
                    </div>
                    <div>
                        <p class="text-[18px]"><b>{{ user.username }}님</b></p>
                    </div>
                    <a href="{% url 'home' %}" class="rounded-lg bg-[#1EB564] text-white text-center w-full py-2 text-[16px] font-semibold">홈으로 이동</a>
                    <a href="{% url 'accounts:logout' %}" class="block px-4 py-2 text-sm text-gray-700 hover:text-black" role="menuitem" tabindex="-1" id="user-menu-item-2">로그아웃</a>
                </div>
                {% else %}
                <div class="sm:mt-[65%] w-full">
                    <h2 class="text-[22px] text-center mb-5"><b>로그인</b></h2>
                    <form action="{% url 'accounts:login' %}" method="POST" class="flex flex-col items-center gap-3 w-full">
                        {% csrf_token %}
                        <div class="w-full">{{ form.username }}</div>
                        <div class="w-full">{{ form.password }}</div>
                        <input type="submit" class="rounded-lg bg-[#1EB564] text-white w-full py-2 text-[16px] font-semibold" value="시작하기">
                    </form>
                </div>
    
                {% comment %} 회원가입 {% endcomment %}
                {% load socialaccount %}
                <div class="flex flex-col items-center sm:flex-row sm:gap-3">
                    <p>혹시 처음 방문하셨나요?</p>
                    <a href="{% url 'accounts:signup' %}" class="text-[#1EB564]"><b>회원가입</b></a>
                </div>
    
                {% comment %} 소셜로그인 {% endcomment %}
                <div class="flex flex-col items-center gap-5">
                    <p class="text-[18px]"><b>소셜로그인</b></p>
                    <div class="flex justify-evenly gap-5">
                        <a href="{% provider_login_url 'kakao' method='oauth2' %}">
                            <div class="flex items-center p-4 border rounded-xl bg-white w-16 h-16">
                                <img src="{% static 'img/google_logo.png' %}" alt="">
                            </div>
                        </a>
                        <a href="{% provider_login_url 'google' method='oauth2' %}">
                            <div class="flex items-center p-4 rounded-xl bg-[#FFE24A] w-16 h-16">
                                <img src="{% static 'img/kakao_logo.png' %}" alt="">
                            </div>
                        </a>
                        <a href="{% provider_login_url 'naver' method='oauth2' %}">
                            <div class="flex items-center p-5 text-white rounded-xl bg-[#25D036] w-16 h-16 text-center">
                                <img src="{% static 'img/naver_logo.png' %}" alt="">
                            </div>
                        </a>
                    </div>
                </div>
                {% endif %}
            </div>
        </div>
        <div class="sm:absolute sm:left-1/2 -translate-x-1/2 bottom-8 animate-bounce text-center mb-16">
            <p class="hidden sm:block">Scroll</p>
            <span class="material-symbols-outlined text-[60px]">expand_more</span>
        </div>
    </section>

    {% comment %} 서비스 소개 {% endcomment %}
    <section class="h-screen bg-gray-200 flex items-center">
        <div class="mx-auto flex flex-col sm:flex-row items-center gap-20 max-w-7xl px-2 sm:px-6 lg:px-8">
            <div class="p-5">
                <img src="{% static 'img/식물.png' %}" alt="" class="w-80 h-64 sm:w-[600px] sm:h-[450px]">
            </div>
            <div class="flex flex-col gap-8">
                <p class="text-[25px] sm:text-[45px]"><b>식물 정보 찾고 있나요?</b></p>
                <p class="text-[18px] sm:text-[25px]"><b>작은 화분 식물부터 농작식물까지<br>다양한 식물정보를 제공합니다</b></p>
            </div>
        </div>
    </section>

    <section class="h-screen bg-white flex items-center">
        <div class="mx-auto flex flex-col-reverse sm:flex-row items-center gap-20 max-w-7xl px-2 sm:px-6 lg:px-8">
            <div class="flex flex-col gap-8">
                <p class="text-[25px] sm:text-[45px]"><b>식물관리 어려우신가요?</b></p>
                <p class="text-[18px] sm:text-[25px]"><b>식물 품종 데이터를 통한<br>맞춤관리 서비스를 체험해 보세요</b></p>
            </div>
            <div class="p-5">
                <img src="{% static 'img/식집사.jpg' %}" alt="" class="w-80 h-64 sm:w-[600px] sm:h-[450px]">
            </div>
        </div>
    </section>

    <section class="h-screen bg-gray-200 flex items-center">
        <div class="mx-auto flex flex-col sm:flex-row items-center gap-20 max-w-7xl px-2 sm:px-6 lg:px-8">
            <div class="p-5 bg-white rounded-xl border shadow-lg">
                <img src="{% static 'img/그린샵.JPG' %}" alt="" class="w-80 h-56 sm:w-[520px] sm:h-[320px]">
            </div>
            <div class="flex flex-col gap-8">
                <p class="text-[25px] sm:text-[45px]"><b>식물 및 관리용품 구매는?</b></p>
                <p class="text-[18px] sm:text-[25px]"><b>필요한 관리용품과 반려식물 및<br>선물용 식물을 구매해 보세요</b></p>
            </div>
        </div>
    </section>
    <section class="bg-white h-28 sm:h-44 w-full flex flex-col sm:flex-row items-center justify-center gap-3 sm:gap-10 px-4">
        <div class="bg-[#1EB564] text-white rounded-lg sm:rounded-xl p-2 px-5 w-full sm:w-fit sm:text-[25px] text-center hover:bg-green-700"><a href="{% url 'accounts:signup' %}"><b>회원가입</b></a></div>
        <div class="bg-[#1EB564] text-white rounded-lg sm:rounded-xl p-2 px-5 w-full sm:w-fit sm:text-[25px] text-center hover:bg-green-700"><a href="{% url 'accounts:login' %}"><b>로그인</b></a></div>
    </section>
</main>
{% endblock content %}


{% block script %}{% endblock script %}