{% extends 'base.html' %}
{% load static %}
{% block link %}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.2.1/assets/owl.carousel.min.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.2.1/assets/owl.theme.default.min.css">
<link rel="stylesheet" href="{% static 'css/search.css' %}">
{% endblock link %}

{% block content %}
<p class='title--content--2 mt-0'>검색된 식물원</p>
<div class="slider-1">
    <div class="owl-carousel owl-theme">
        {% for garden in search_result_gardens %}
        <div class="card--border card--border--gray">
        <a href="{% url 'gardens:detail' garden.pk %}">
            <img src="{{garden.image.url}}" class="rounded" alt="img">  
            <div class="card--name--box">
            <strong class="card--name">{{garden.title}}</strong>
            </div>
            <div class="card--tag--border pb-1">
            <p><i class="bi bi-heart-fill card--rating__color me-2"></i>{{garden.like_users.count}}</p>
            <p>리뷰 {{product.comment_set.count}}</p>
            </div>  
        </a>  
        </div>
        {% endfor %}
    </div>
</div>


<p class='title--content--2'>검색된 식물</p>
<div class="slider-1">
    <div class='owl-carousel owl-theme'>
        {% for plant in search_result_plants %}
        <div class='card--border card--border--gray'>
        <a href="{% url 'plants:detail' plant.pk %}">
            <img src="{{ plant.plantimage.url}}" class='rounded' alt="{{ plant.title }}의 이미지">  
            <div class='card--name--box'>
            <strong class='card--name'>{{ plant.title }}</strong>
            </div>
            <div class='card--tag--border pb-1'>
            <p>좋아요 {{ plant.like_users.count }}</p>
            </div>
        </a>  
        </div>
        {% endfor %}
    </div>
</div>


<p class='title--content--2'>검색된 소모품</p>
<div class="slider-1">
    <div class='owl-carousel owl-theme'>
        {% for supply in search_result_supplies %}
        <div class='card--border card--border--gray'>
        <a href="{% url 'supplies:detail' supply.pk %}">
            <img src="{{ supply.Thumbnail.url}}" class='card--border__image rounded' alt="{{ supply.supply_name }}의 이미지">  
            <div class='card--name--box'>
            <strong class='card--name'>{{ supply.supply_name }}</strong>
            </div>
            <div class='card--tag--border'>
            <p>가격 {{ supply.price }}</p>
            <p>좋아요 {{ supply.like.count }}</p>
            </div>
            <div class='mt-1'>
                {% for tag in supply.tags.all %}
                <span class='me-2'>#{{tag}}</span>
                {% endfor %}
            </div>
        </a>  
        </div>
        {% endfor %}
    </div>
</div>

{% endblock content %}

{% block script %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.4/jquery.min.js" integrity="sha512-pumBsjNRGGqkPzKHndZMaAG+bir374sORyzM3uulLV14lN5LyykqNk8eEeUlUkB3U0M4FApyaHraT65ihJhDpQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.min.js" integrity="sha512-bPs7Ae6pVvhOSiIcyUClR7/q2OAsRiovw4vAkX+zJbw3ShAeeqezq50RIIcIURq7Oa20rW2n2q+fyXBNcU9lrw==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script src="{% static 'js/search_carousel.js' %}"></script>
{% endblock script %}