{% extends 'base.html' %}
{% load static %}


{% block head %}
<title>검색</title>

<link rel="stylesheet" href="{% static 'css/search.css' %}">
{% endblock head %}


{% block content %}
<p class='title--content--2 mt-0'>검색된 식물원</p>

    <div class="grid grid-cols-4 gap-8 mb-10">
        {% for supply in search_result_gardens %}
        <a href="{% url 'gardens:detail' garden.pk %}">
            <div class="w-full mb-5 flex gap-5">
            <div class="flex flex-col gap-3">
                <div class="rounded-xl border overflow-hidden relative">
                <img src="{{garden.image.url}}" alt="" class="w-full h-full object-cover duration-200 ease-linear hover:scale-105">

                <strong class='card--name'>{{garden.title}}</strong>
                </div>
                <div class="flex items-center justify-between px-2">
                <h3 class="text-[16px] font-semibold">리뷰 {{product.comment_set.count}}</h3>
                
                <div class="flex items-center gap-2">
                    <span class="material-symbols-outlined text-[16px] mt-[0.5px]">favorite</span>
                    <span id="garden-like-count">좋아요 {{garden.like_users.count}}</span>
                </div>
                </div>
            </div>
            </div>
        </a>
        {% endfor %}

    </div>




<p class='title--content--2'>검색된 식물</p>

    <div class="grid grid-cols-4 gap-8 mb-10">
        {% for supply in search_result_plants %}



        <a href="{% url 'plants:detail' plant.pk %}">
            <div class="w-full mb-5 flex gap-5">
            <div class="flex flex-col gap-3">
                <div class="rounded-xl border overflow-hidden relative">
                <img src="{{ plant.plantimage.url}}" alt="" class="w-full h-full object-cover duration-200 ease-linear hover:scale-105">

                <strong class='card--name'>{{ plant.title }}</strong>
                </div>
                <div class="flex items-center justify-between px-2">
                <h3 class="text-[16px] font-semibold">가격 {{ supply.price }}</h3>
                
                <div class="flex items-center gap-2">
                    <span class="material-symbols-outlined text-[16px] mt-[0.5px]">favorite</span>
                    <span id="garden-like-count">좋아요 {{ plant.like_users.count }}</span>
                </div>
                </div>
            </div>
            </div>
        </a>
        {% endfor %}
    </div>




<p class='title--content--2'>검색된 소모품</p>

    <div class="grid grid-cols-4 gap-8 mb-10">

        {% for supply in search_result_supplies %}
        <a href="{% url 'supplies:detail' supply.pk %}">
            <div class="w-full mb-5 flex gap-5">
              <div class="flex flex-col gap-3">
                <div class="rounded-xl border overflow-hidden relative">
                  <img src="{{ supply.Thumbnail.url}}" alt="" class="w-full h-full object-cover duration-200 ease-linear hover:scale-105">
  
                  <strong class='card--name'>{{ supply.supply_name }}</strong>
                </div>
                <div class="flex items-center justify-between px-2">
                  <h3 class="text-[16px] font-semibold">가격 {{ supply.price }}</h3>
                  
                  <div class="flex items-center gap-2">
                    <span class="material-symbols-outlined text-[16px] mt-[0.5px]">favorite</span>
                    <span id="garden-like-count">좋아요 {{ supply.like.count }}</span>
                  </div>
                </div>
              </div>
            </div>
          </a>
        {% endfor %}

    </div>

{% endblock content %}


{% block script %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.4/jquery.min.js" integrity="sha512-pumBsjNRGGqkPzKHndZMaAG+bir374sORyzM3uulLV14lN5LyykqNk8eEeUlUkB3U0M4FApyaHraT65ihJhDpQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.min.js" integrity="sha512-bPs7Ae6pVvhOSiIcyUClR7/q2OAsRiovw4vAkX+zJbw3ShAeeqezq50RIIcIURq7Oa20rW2n2q+fyXBNcU9lrw==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script src="{% static 'js/search_carousel.js' %}"></script>
{% endblock script %}