{% extends 'base.html' %}



{% block content %}
<div class="mx-auto px-[200px] pt-10 pb-10">
  <div>
    <div class="font-bold text-3xl text-left leading-relaxed">
      <p>어떤 종류의</p>식물을 찾고 있나요?
    </div>
    <div>
      <ul class="flex text-base mt-4">
        <li class="rounded-full py-2 px-4 m-2 bg-white border border-gray-500 text-gray-500 cursor-pointer transition-colors duration-300 ease-in-out hover:bg-green-500 hover:text-white"  style="pointer-events: auto;">
          <a href="{% url 'plants:filter_plants' '잎을 감상하는' %}">잎을 감상하는</a>
        </li>
        <li class="rounded-full py-2 px-4 m-2 bg-white border border-gray-500 text-gray-500 cursor-pointer transition-colors duration-300 ease-in-out hover:bg-green-500 hover:text-white"  style="pointer-events: auto;">
          <a href="{% url 'plants:filter_plants' '꽃을 감상하는' %}">꽃을 감상하는</a>
        </li>
        <li class="rounded-full py-2 px-4 m-2 bg-white border border-gray-500 text-gray-500 cursor-pointer transition-colors duration-300 ease-in-out hover:bg-green-500 hover:text-white"  style="pointer-events: auto;">
          <a href="{% url 'plants:filter_plants' '열매를 감상하는' %}">열매를 감상하는</a>
        </li>
        <li class="rounded-full py-2 px-4 m-2 bg-white border border-gray-500 text-gray-500 cursor-pointer transition-colors duration-300 ease-in-out hover:bg-green-500 hover:text-white"  style="pointer-events: auto;">
          <a href="{% url 'plants:filter_plants' '열매를 감상하는' %}">다육/선인장</a>
        </li>
      </ul>
    </div>
  </div>

  <div class="mb-5 mt-5">
    <form action="{% url 'plants:search' %}" method="GET">
      <input class="border-b-2 border-[#1EB564] outline-none cursor-blink w-full" type="text" name="searched" placeholder="검색어" oninput="toggleSearchButton(this)">
    </form>
  </div>

  <div>
    {% if filtered_plants %}
      <div class="grid grid-cols-4 gap-4">
        {% for plant in filtered_plants %}
          <div class="bg-white rounded-lg p-4">
            <p>{{plant.title}}</p>
            {% if plant.plant_images.all %}
            <a href="{% url 'plants:detail' plant.pk %}"><img src="{{ plant.plant_images.first.image.url }}" alt="{{ plant.title }}" class="w-full h-auto mt-4 object-contain"></a>
            {% endif %}
          </div>
        {% endfor %}
      </div>
  </div>
    {% else %}
      <p>검색 결과가 없습니다.</p>
    {% endif %}
</div>

{% endblock content %}

{% block script %}

{% endblock script %}