{% extends 'base.html' %}

{% block style %}
  <style>

  </style>
{% endblock style %}

{% block content %}
<section class="mx-auto max-w-7xl px-2 sm:px-6 lg:px-8 h-screen flex flex-col justify-center relative">
  <div class="font-bold text-6xl flex justify-center leading-relaxed">
    <div class="text-left">
      <span id="firstSpan">나는</span>
      <span>
        <form action="{% url 'plants:search' %}" method="GET">
          <input class="border-b-2 border-[#1EB564] outline-none cursor-blink text-green-500" type="text" name="searched" placeholder="검색어" oninput="toggleSearchButton(this)">
          <p class="m-0">를 잘 키우는 방법<span id="secondParagraph">이</span>
          </p>
          <p id="thirdParagraph" class="m-0">궁금하다.</p>
          <button id="searchButton" type="submit" style="display: none;" class="underline underline-offset-8" >보러가기</button>
        </form>
      </span>
    </div>
  </div>
</section>

{% comment %} <div class="font-blod text-6xl">
  <div class="title-wrap aos-init aos-animate" data-aos="fade-up" data-aos-duration="800">
    <div class="text-slide">
      <p class="select-text">
        <span>어떤 식물</span>
      </p>
    </div>
    <em class="prefix">을</em>
    <p class="default-text">찾고 있나요?</p>
  </div>
  <div class="filter-wrap aos-init aos-animate" data-aos="fade-up" data-aos-duration="900">
    <div class="depth-slide swiper-initialized swiper-horizontal swiper-backface-hidden">
      <div class="swiper-wrapper" id="swiper-wrapper-57d58b4e4e26b08c" aria-live="polite" style="transition-duration: 0ms; transform: translate3d(0px, 0px, 0px);">
        <div class="swiper-slide depth-1 swiper-slide-active" role="group" aria-label="1 / 3" style="width: 496px;">
          <ul class="filter-item-box">
            <li class="filter-item" filtertype="firstfilter" data="62abf69202b4dd10c1280adf" style="pointer-events: auto;">잎을 감상하는</li>
            <li class="filter-item" filtertype="firstfilter" data="62abf69902b4dd10c1280ae6" style="pointer-events: auto;">꽃을 감상하는</li>
            <li class="filter-item" filtertype="firstfilter" data="62abf69e02b4dd10c1280aeb" style="pointer-events: auto;">열매를 감상하는</li>
            <li class="filter-item" filtertype="firstfilter" data="62abf6ab02b4dd10c1280af4" style="pointer-events: auto;">다육/선인장</li>
          </ul>
        </div>
        <div class="swiper-slide depth-2 swiper-slide-next" role="group" aria-label="2 / 3" style="width: 496px;">
          <ul class="filter-item-box">
            <li class="btn-prev">이전</li>
            <li class="filter-item" filtertype="secondfilter" data="62abf74402b4dd10c1280c2c">잎모양</li>
            <li class="filter-item" filtertype="secondfilter" data="62abf74b02b4dd10c1280c33">초보자용</li>
            <li class="filter-item" filtertype="secondfilter" data="62abf74f02b4dd10c1280c3b">선물하기 좋은</li>
            <li class="filter-item" filtertype="secondfilter" data="62abf75402b4dd10c1280c44">공기정화</li>
            <li class="filter-item" filtertype="secondfilter" data="62abf75902b4dd10c1280c4e">빛이 적어도 되는</li>
            <li class="filter-item" filtertype="secondfilter" data="62abf76402b4dd10c1280c65">향기나는</li>
            <li class="filter-item" filtertype="secondfilter" data="62abf76002b4dd10c1280c59">반려동물 안전한</li>
            <li class="filter-item" filtertype="secondfilter" data="62abf76702b4dd10c1280c72">목대있는</li>
            <li class="filter-item" filtertype="secondfilter" data="62abf76d02b4dd10c1280c80">흙이 필요없는</li>
            <li class="filter-item" filtertype="secondfilter" data="62abf77202b4dd10c1280c8f">덩굴로 자라는</li>
          </ul>
        </div>
        <div class="swiper-slide depth-3" role="group" aria-label="3 / 3" style="width: 496px;">
          <ul class="filter-item-box">
            <li class="btn-prev">이전</li>
          </ul>
        </div>
      </div>
      <span class="swiper-notification" aria-live="assertive" aria-atomic="true"></span>
    </div>
  </div>
</div> {% endcomment %}
<section class="mx-auto max-w-7xl px-2 sm:px-6 lg:px-8 h-screen flex flex-col justify-center relative">
  <div class="font-bold text-5xl text-center">
    <div >
      <div class="text-slide">
        <p class="select-text">
          <span>어떤 식물</span>을 찾고 있나요?
        </p>
      </div>
    </div>
    <div id="tag-selection">
      <ul class="flex justify-center text-3xl mt-8">
        <li class="rounded-full py-2 px-4 m-2 bg-white border border-gray-500 text-gray-500 cursor-pointer transition-colors duration-300 ease-in-out hover:bg-green-500 hover:text-white"  style="pointer-events: auto;">
          <a href="{% url 'plants:filter_plants' '잎을 감상하는' %}">잎을 감상하는</a>
        </li>
        <li class="rounded-full py-2 px-4 m-2 bg-white border border-gray-500 text-gray-500 cursor-pointer transition-colors duration-300 ease-in-out hover:bg-green-500 hover:text-white"  style="pointer-events: auto;">
          <a href="{% url 'plants:filter_plants' '꽃을 감상하는' %}">꽃을 감상하는</a>
        </li>
        <li class="rounded-full py-2 px-4 m-2 bg-white border border-gray-500 text-gray-500 cursor-pointer transition-colors duration-300 ease-in-out hover:bg-green-500 hover:text-white"  style="pointer-events: auto;">
          <a href="{% url 'plants:filter_plants' '열매를 감상하는' %}">열매를 감상하는</a>
        </li>
        <li class="rounded-full py-2 px-4 m-2 bg-white border border-gray-500 text-gray-500 cursor-pointer transition-colors duration-300 ease-in-out hover:bg-green-500 hover:text-white"  style="pointer-events: auto;">
          <a href="{% url 'plants:filter_plants' '열매를 감상하는' %}">다육/선인장</a>
        </li>
      </ul>
    </div>
    {% comment %} <div class="filter-selection" style="display: none;">
      <ul class="flex justify-center text-3xl mt-8">
        <li class="btn-prev">이전</li>
        <li class="filter-item">잎모양</li>
        <li class="filter-item">초보자용</li>
        <li class="filter-item">선물하기 좋은</li>
      </ul>
    </div> {% endcomment %}
  </div>
</section>  

<section class="mx-auto max-w-7xl px-2 sm:px-6 lg:px-8 h-screen flex flex-col justify-center relative">
  <p><a href="{% url 'plants:create' %}">생성하기</a></p>

  {% for plant in plants %}
    <a href="{% url 'plants:detail' plant.pk %}">{{plant.title}}</a>
    <img src="{{plant.image.url}}" alt="" width="300">
    <p>-----------------------------------------------</p>
  {% endfor %}
  {% comment %} <a href="{% url 'plants:update' plant.pk%} ">수정</a> {% endcomment %}
</section>
{% endblock content %}

{% block script %}
<script>
  function toggleSearchButton(input) {
    var firstSpan = document.getElementById("firstSpan")
    var searchButton = document.getElementById("searchButton")
    var secondParagraph = document.getElementById("secondParagraph")
    var thirdParagraph = document.getElementById("thirdParagraph")
    if (input.value.trim() !== "") {
      firstSpan.style.display = "none"
      secondParagraph.style.display = "none"
      thirdParagraph.style.display = "none"
      searchButton.style.display = "inline-block"
    } else {
      searchButton.style.display = "none"
      secondParagraph.style.display = "inline"
      thirdParagraph.style.display = "block"
      firstSpan.style.display = "inline"
    }
  }
</script>
{% endblock script %}
