{% extends 'base.html' %}
{% load static %}


{% block head %}
<title>식물검색</title>
{% endblock head %}


{% block content %}
<div class="mx-auto max-w-7xl px-2 sm:px-6 lg:px-8">

  <div class="mx-auto px-[200px] pt-10 pb-10">
    <div class="font-bold text-3xl mb-3">
    <p class="mb-3">찾으시는 식물이</p>
    <p class="mb-3">맞나요?</p>
    <p class="text-lg font-bold">검색어 : {{query}}</p>
  </div>
  <div class="mb-5">
    <form action="{% url 'plants:search' %}" method="GET">
      <input class="border-b-2 border-[#1EB564] outline-none cursor-blink w-full" type="text" name="searched" placeholder="검색어" oninput="toggleSearchButton(this)">
      {% comment %} <button type="submit" class="underline underline-offset-8" ></button> {% endcomment %}
    </form>
  </div>
  {% if plants %}
  <div class="grid grid-cols-4 gap-8 mb-10">
    {% for plant in plants %}
    <a href="{% url 'plants:detail' plant.pk %}">
      <div class="w-full mb-5 flex gap-5">
        <div class="flex flex-col gap-3">
          <div class="rounded-xl border overflow-hidden relative">
            <img src="{{ plant.plant_images.first.image.url }}" alt="" class="w-full h-full object-cover duration-200 ease-linear hover:scale-105">
            
            <div class="text-[12px] text-white w-fit rounded-md p-1 px-2 shadow-lg absolute top-2 left-2 {% if plant.category == "['실내식물']" %}bg-[#439A3C]{% elif plant.category == "['실외식물']" %}bg-[#9D9441]{% elif plant.category == "['실내식물', '실외식물']" %}bg-[#35493D]{% endif %}">{% if plant.category == "['실내식물']" %}실내{% elif plant.category == "['실외식물']" %}실외{% elif plant.category == "['실내식물', '실외식물']" %}실내, 실외{% endif %}</div>
          </div>
          <div class="flex items-center justify-between px-2">
            <h3 class="text-[16px] font-semibold">{{ plant.title }}</h3>

            <div class="flex items-center gap-2">
              <span class="material-symbols-outlined text-[16px] mt-[0.5px]">favorite</span>
              <span id="garden-like-count">{{ plant.like_users.all|length }}</span>
            </div>
          </div>
        </div>
      </div>
    </a>
    {% endfor %}
  </div>
  {% else %}
  <div class="w-full h-96 flex justify-center items-center">
    식물이 없습니다
  </div>
  {% endif %}

</div>
</div>
{% endblock content %}