{% extends "base.html" %}
{% load static %}

{% block style %}
<style>
</style>
{% endblock style %}

{% block content  %}
디테일
{% comment %}  본문 부분 {% endcomment %}


{% comment %}  본문 위쪽 본문 수정 삭제 부분 {% endcomment %}



{{ supply.category }}
{% if request.user == supply.user %}
              <div class="dropdown text-end">
                <button class="btn dropdown pe-0" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                  <i class="bi bi-three-dots-vertical"></i>
                </button>
                <ul class="dropdown-menu">
                  <li><a class="dropdown-item" href="{% url 'supplies:update' supply.pk %}">수정하기</a></li>
                  <li><a class="dropdown-item" onclick="return confirm('게시글을 삭제하시겠습니까?')" href="{% url 'supplies:delete' supply.pk %}">삭제하기</a></li>
                </ul>
              </div>
{% endif %}



{% comment %}  본문 제목(조회수) 및 본문 좋아요 부분 {% endcomment %}
<div>
    <div class='title--box'>
      <p class='title--font title--style m-0'>{{ supply.title }}</p>
    </div>
    <form class="like-form" data-supply-id="{{ supply.pk }}">
      {% csrf_token %}
      {% if request.user.is_authenticated %}  
        {% if request.user == supply.user %}
            <div class="heart-fill title--likescount p-0 m-0" disable></div>
        {% else %}
          {% if request.user in supply.like.all %}
            <button type='submit' class="heart-fill" id="like-btn"></button>
            {% else %}
            <button type='submit' class="heart" id="like-btn"></button>
          {% endif %}
        {% endif %}
      {% else %}
        <a href="{% url 'accounts:login' %}" class="heart title--likescount btn m-0 p-0" id="like-btn"></a>
      {% endif %}
    </form> 
  </div>
  <p id="like-count" class='ms-3'> 좋아요 {{supply.like.count}}</p> 
  <hr>



  {% comment %}  본문 내용 부분 {% endcomment %}
  <div class='ms-3'>
    <p class='fs-5 mb-3'>{{ supply.content }}</p>
  </div>



  {% comment %}  본문 내용 수정 및 삭제 부분 {% endcomment %}
    <div>
        <a href="{% url 'supplies:supply_update' supply.pk %}">수정쓰</a>
        <a href="{% url 'supplies:supply_delete' supply.pk %}">삭제쓰</a>
    </div>


{% endblock content %}
{% block script %}
    <script src="{% static 'js/supplies_detail_like.js' %}"></script>
{% endblock script %}