{% extends "base.html" %}
{% load static %}
{% block head %}
<link rel="stylesheet" href="{% static 'css/supplies_index.css' %}">
{% endblock head %}

{% block content  %}
    {% if request.user.is_superuser %}
    <div class='mt-3 mb-5'> 
      <a href="{% url 'supplies:create' %}">소모품 등록하기</a>
    </div>
    {% endif %}
    <ul class="btn-list mt-5">
        <li>
            <a href="{% url 'supplies:index' %}" class="{% if request.path == index_url %}btn_active{% endif %}">전체 보기</a>
        </li>
        <li>
            <a href="{% url 'supplies:filter_supplies' '화분' %}" class="{% if '/화분/' in request.path %}btn_active{% endif %}">화분</a>
        </li>
        <li>
            <a href="{% url 'supplies:filter_supplies' '비료' %}" class="{% if '/비료/' in request.path %}btn_active{% endif %}">비료</a>
        </li>
        <li>
            <a href="{% url 'supplies:filter_supplies' '영양제' %}" class="{% if '/영양제/' in request.path %}btn_active{% endif %}">영양제</a>
        </li>
        <li>
            <a href="{% url 'supplies:filter_supplies' '데코레이션' %}" class="{% if '/데코레이션/' in request.path %}btn_active{% endif %}">데코레이션</a>
        </li>
        <li>
            <a href="{% url 'supplies:filter_supplies' '물뿌리개' %}" class="{% if '/물뿌리개/' in request.path %}btn_active{% endif %}">물뿌리개</a>
        </li>
    </ul>
    <div class="grid grid-cols-4 gap-4 mt-5">
        {% for supply in page_obj %}
          <a href="{% url 'supplies:detail' supply.pk %}" class="mb-4">
            <div class="bg-white rounded-lg shadow-md p-4 flex flex-col items-center">
              <img src="{{ supply.Thumbnail.url }}" alt="supply Photo" class="w-20 h-20 rounded-full mb-4">
              <h4 class="text-lg font-semibold mb-2">{{ supply.supply_name }}</h4>
              <div class="flex flex-col items-center">
                <p class="text-gray-500 mb-1">가격 {{ supply.price }}</p>
                <p class="text-gray-500 mb-1">카테고리 {{ supply.category }}</p>
                <p class="text-gray-500 mb-1">찜 {{ supply.like.count }}</p>
              </div>
            </div>
          </a>
        {% endfor %}
      </div>


    {% if page_obj.has_other_pages %}
        <div class="flex justify-center mt-4">
            {% if page_obj.has_previous %}
                <a href="?page={{ page_obj.previous_page_number }}" class="px-2 py-1 bg-transparent text-gray-700 hover:bg-blue-300">이전</a>
                {% endif %}
                
                {% for num in page_obj.paginator.page_range %}
                {% if page_obj.number == num %}
                    <span class="px-2 py-1 bg-blue-500 text-white">{{ num }}</span>
                {% else %}
                    <a href="?page={{ num }}" class="px-2 py-1 bg-transparent text-gray-700 hover:bg-blue-300">{{ num }}</a>
                {% endif %}
                {% endfor %}
                
                {% if page_obj.has_next %}
                <a href="?page={{ page_obj.next_page_number }}" class="px-2 py-1 bg-transparent text-gray-700 hover:bg-blue-300">다음</a>
            {% endif %}
        </div>
    {% endif %}


{% endblock content %}
{% block script %}

{% endblock script %}